[2014-03-11 14:18] martin-helmich opened #1 "Use TYPO3 6.2 namespaces"

[2014-03-11 14:19] martin-helmich opened #2 "Clean up forge.typo3.org"
- [ ] Remove files from Git, place README file there, linking to Github Repository
- [ ] Post announcement on TYPO3 Forge
- [ ] Post something on Mittwald blog?

[2014-03-11 14:19] martin-helmich opened #3 "Test TYPO3 6.2 compatibility"

[2014-03-11 14:23] martin-helmich opened #4 "Resolve TYPO3.net dependencies"

[2014-03-11 14:29] martin-helmich opened #5 "Change extension key to "typo3_forum""
- [x] Rename database tables.
- [x] Replace PHP namespaces.
- [ ] Adjust documentation where necessary.

[2014-03-11 14:49] martin-helmich opened #6 "Create documentation"

[2014-03-11 14:52] martin-helmich opened #7 "Bring ext_tables.sql up-to-date"

[2014-03-11 15:00] martin-helmich opened #8 "FAL integration"

[2014-03-12 16:51] #1 closed, assigned to nobody

[2014-03-13 09:09] velletti opened #10 "add missing TypoScript settings and Constants"
in constants are missing partials and layout path

[2014-03-13 11:50] #7 closed, assigned to nobody

[2014-03-14 09:47] velletti opened #11 "Upgrade Script mmForum Database tables from 1.9x to 2.0"
i would do this issue, but  if there is any existing Script (also not final ), it will help ..

[2014-03-14 13:03] velletti opened #12 "Helpful Users shows old count and always the same users"
caching problem or not running sheduler ...

[2014-03-14 13:38] ghost opened #13 "dos2unix"
To many files are infected with \r

[2014-07-25 13:40] #10 closed, assigned to nobody

[2014-07-28 08:28] velletti opened #22 "Forums with Subforums are only shown in default language"
if you have Forums with Subforums with sys_language_uid <> 0 they are not listed in non default language.
same problem with topics: Extbase generates a query with sys_language_uid = 0 or -1.
But as Topics / Forums does not have  a databes entry in default language, TYPO3 will not find any.

changing TCA helps

[2014-07-28 08:36] velletti opened #23 "Answers (posts) to Topics any only shown in default language"
changing post repository settings like this: $query->getQuerySettings()->setRespectSysLanguage(FALSE) ;

helps

[2014-07-28 08:37] #23 closed, assigned to velletti

[2014-08-02 23:29] neufeind opened #26 "Upgrade markItUp! to 1.1.14"
Currently ships with version 1.1.12 from 2011. With 1.1.14 from 2013 there is a compat-update for Jquery 1.9+ included. This will allow the forum to be used on sites that already use a newer jQuery.

http://markitup.jaysalvat.com/

(Currently mm_forum ships with a jQuery 1.7.x. But you might be using a separate jQuery-version on a site anyway. The included jQuery might also be considered to be upg

[2014-08-02 23:47] neufeind opened #27 "Ship default-entries for format-textparser"
It would be helpful to ship with a standard-set of preconfigured textparsers (bbcode, ...).

Relevant DB-table is tx_mmforum_domain_model_format_textparser. typo3.net currently has 40 entries defined in there.

[2014-08-03 15:26] neufeind opened #28 "Update for table-layout of static table-dumps needed"
ext_tables_static+adt.sql

Update needed because commit fa754d7269d2c5a462800147dd52a08710d64961 added a missing t3ver-field (t3ver_move_id).

[2014-08-03 17:16] neufeind opened #29 "Forum_Access->matches() should also consider subgroups"
A user does not just have groups but groups can have subgroups which also need to be taken into account.

[2014-08-08 08:17] #12 closed, assigned to nobody

[2014-08-08 08:25] velletti opened #31 "edit a forum with lots of topics and subscribers in backend is too slow"
i would like to change the tca of the "forum" modell to be able to edit the definitions of a single forum in Backend:

if this forum already has lots of topics, subscribers etc. it is nearly impossible to edit acls or description because it takes several minutes to open it in backend

so i would like to remove topics and subscribers from "showRecordFieldList" and Types Array ..
after this change,

[2014-08-08 10:50] #31 closed, assigned to nobody

[2014-08-08 11:23] velletti opened #32 "I need different Dummy Avatars for male and female and a viewhelper to get just the Avatar URL"
tasks:
- put two possible settings to setup.txt  as placeholder (so no conflict with typo3.net)
- change frontenduser Modell that it read those 2 settings only if set, else
- create a new viewhelper

see my commit  ...

[2014-08-08 11:23] #32 closed, assigned to velletti

[2014-08-10 12:54] neufeind opened #35 "[FEATURE] Allowing ACLs via TypoScript"
It would be great to be able to apply ACLs via TypoScript.

But what could that look like? Do we want to use special conditons? I think that would be doable through user-functions. Pseudo-code:

plugin.tx_mmforum.currentForum.acls {
read = everyone
}
// only allow posting starting from second level
[user_func(mmforum_forumlevel) > 1]
plugin.tx_mmforum.currentForum.acls {
writePost = everyone
}
[us

[2014-08-10 16:51] #13 closed, assigned to nobody

[2014-08-10 17:38] neufeind opened #40 "Upgrade included jQuery-library"
Easily possible after upgrading the markItUp-library (#26).

[2014-08-16 14:00] neufeind opened #41 "UserRepository: Get rid of findByUsername()"
That function is an alias of findOneByUsername(). Use that function instead.
The only reason that function exists is that findBy\* always returns a result-set and not just one row. But instead of redefining how the regular findBy\* behave imho we should just use the findOneBy\* when we expect that result. Otherwise this will lead to confusion, since (as an example) a "findByUsername" on a list of

[2014-08-16 17:09] neufeind opened #42 "PrivateMessages: Rename to singular"
The model (as well as PrivateMessages_text) should be renamed in source, db etc. to singular form. Other models like "topic" are already singular.

[2014-08-16 17:39] neufeind opened #44 "PrivateMessages: Use constants for type 0/1 throughout source"
Currently in the PrivateMessagesRepository there is 'type' used in searches etc. with values 0 or 1. That makes it hard to read what is being searched for. Use constants like for example Tx_MmForum_Domain_Model_User_PrivateMessages::USER_IS_SENDER

[2014-08-16 18:52] neufeind opened #46 "PrivateMessages: Improve unread-handling"
There is a flag "userread" already, which shows if a user already read a message or not. But the unread-state neither shows up in the frontend nor is it "complete" yet imho.
- For the list of conversations (on the left) there is no "easy" way to check if a certain "conversion" contains at least one unread message or not.
- As soon as you open conversation messages are marked as read. But due to pa

[2014-08-16 20:28] #41 closed, assigned to nobody

[2014-08-18 07:17] velletti opened #50 "[FEATURE] - As not all will install an external Search like Solr forum should have a Search plugin"
I will include such a plugin with following Main Features in the next weeks :

respect actuall sys_language_uid (for multi language forums)
search in Text and title

an a Advanced Search with :

search filters:
- by Autor (by username)
- only in specific forum (by Category)
- created after / before date
- contains specific TAG

additional options :
- is marked as solved
- search only in first Post

[2014-08-18 10:52] velletti opened #51 "we should have same languages as version 1.9"
i will put this to our localisation service:
try to sync old pi1-pi5 translations to new extbase resource labels .. and translate if is a new string

we will have finally this languages:
ita/fra/deu/cze/esp (as we use mmforum 1.9.x in all these languages)

maybe also "trk/pol/nld/rus"
all other languages are only mapped if the same string exists in pi1-pi5 ...

[2014-08-20 10:47] huersch opened #52 "Nesting level to deep in UserController"
Sometimes the nesting level seems to be to deep in the listMessageAction.

There is a php error:
`Fatal error: Nesting level too deep - recursive dependency? in www/typo3conf/ext/mm_forum/Classes/Controller/UserController.php on line 317`

[2014-08-20 11:04] #52 closed, assigned to nobody

[2014-08-20 16:04] neufeind opened #53 "Notifications for PrivateMessages"
Notifications seem to be available for subscribed forums / topics at the moment. It would be good to add notifications for private messages as well.
- Should these be possible to (de)activate by the user?
- Should we have a separate scheduler-job, so you can send notifications for private messages more often than notifications for new topics/postings in forums?

[2014-08-22 10:55] huersch opened #54 "icon classes"
in the table tx_mmforum_domain_model_format_textparser we insert static data for smilies like the wink smilie. After the text in a post ist prased  we have classes like class="wink.gif". Not a good idea, or? Should we change the to forum-wink or something linke that?

[2014-10-13 09:33] huersch opened #57 "user_int for Forum list & show and Topic list"
In the localconf.php file the controller Forum has the actions list & show marked as none cacheable. Same thing for the controller Topic action list.
Is that necessary? Is make the page generation very slow (2000 ms compared to 300 ms without caching)

[2014-11-16 09:49] neufeind opened #58 "[FEATURE] Make clickable links configurable"
Currently the basic parser (mm_forum/Classes/TextParser/Service/BasicParserService.php) adds href-links with a rel="nofollow". It might be that people would like to configure that behaviour in more detail - for example add a target="_blank" to external links or so.

How can we make that more configurable? Callback/hook to create the a-href (link-HTML)?

[2015-01-11 12:23] neufeind opened #64 "mm-forum.js does not fit current templates"
Variable currentPageUid is not set in the templates that ship with the extension.
(Please also note that in the Backend-templates shipped it's called currentPageId ... maybe we should rename that there, since there are fewer occurences for the backend and it's less likely others might have adapted those BE-templates to their needs.)

Also mm-forum.js contains quite some code related to boxes that

[2015-01-21 13:52] #51 closed, assigned to velletti

[2015-05-21 08:03] smichaelsen opened #68 "Check ext_tables_static+adt.sql file"
Static SQL seems to contain errors and is not executed correctly on extension installation

[2015-05-21 08:07] smichaelsen opened #69 "New Record wizard: Sort out tables that should not be created from the backend"
Tables like `Private Message Text` etc

[2015-05-21 10:10] #68 closed, assigned to smichaelsen

[2015-05-21 11:56] #22 closed, assigned to nobody

[2015-05-21 12:31] mirkokaufmann opened #70 "Missing templates in UserController and widget plugin."
I have to check if we can get the missing templates from typo3.net website.

The technical reason is: No template was found. View could not be resolved for action "dashboard" in class "Tx_MmForum_Controller_UserController".

The technical reason is: No template was found. View could not be resolved for action "list" in class "Tx_MmForum_Controller_UserController".

[2015-06-22 14:14] smichaelsen opened #71 "TCA definitions should be defined in Configuration/TCA"
instead of ext_tables.php

[2015-06-22 14:27] smichaelsen opened #72 "Make all classes psr-4 autoloadable"
Get rid of ext_autoload.php

[2015-07-08 07:34] #72 closed, assigned to smichaelsen

[2015-07-08 07:34] #44 closed, assigned to nobody

[2015-07-08 07:36] #5 closed, assigned to nobody

[2015-07-08 10:06] #70 closed, assigned to nobody

[2015-07-08 10:38] mirkokaufmann opened #74 "Exception in moderation view"
Following exception is thrown in moderation view:
#1264093642: Found an invalid element type declaration in %s. Type "ObjectStorage" must not have an element type hint (Mittwald\Typo3Forum\Domain\Model\Moderation\ReportComment).

[2015-07-08 10:41] mirkokaufmann opened #75 "Exception in private messages view"
Following exception is thrown in moderation view:
#1353170925: The relation information for property "opponent" of class "Mittwald\Typo3Forum\Domain\Model\User\PrivateMessages" is missing.

[2015-07-08 15:17] #74 closed, assigned to nobody

[2015-07-09 06:33] smichaelsen opened #76 "Convert locallang files from .xml to .xlf"

[2015-07-09 11:18] #71 closed, assigned to smichaelsen

[2015-07-10 08:36] smichaelsen opened #77 "ACL: Use constants for access types"
The access types like 'read', 'newTopic', 'newPost' should be constants like `Access::TYPE_READ` etc.

[2015-07-10 09:53] #75 closed, assigned to nobody

[2015-07-10 10:02] #42 closed, assigned to smichaelsen

[2015-07-10 10:06] smichaelsen opened #78 "Rename to singular: Criteria and CriteriaOptions"
should be named `Criterion` and `CriterionOption`

[2015-07-10 10:08] smichaelsen opened #79 "Rename to singular: Ads"
Should be `Ad`

[2015-07-10 11:33] #69 closed, assigned to smichaelsen

[2015-07-10 20:56] #77 closed, assigned to smichaelsen

[2015-07-10 21:01] smichaelsen opened #80 "Add composer.json"

[2015-07-11 12:41] #80 closed, assigned to smichaelsen

[2015-07-11 12:42] smichaelsen opened #81 "Backend Module"
Currently there is a backend module that barely does anything useful. We have to decide wether we need and want a backend module and either implement it properly or remove the corresponding code.

[2015-07-11 12:43] #3 closed, assigned to nobody

[2015-07-11 21:17] #79 closed, assigned to nobody

[2015-07-14 11:47] martin-helmich opened #82 "Licensing is unclear"
The license under which this project is released is unclear.

The source code comments imply a GPLv2 license, but I'd recommend adding:

- [ ] A `LICENSE.txt` file in the root directory containing the *full* GPL license text
- [ ] A `"license"` entry in the `composer.json`
- [ ] A hint concering the licensing in the `README.md` file

[2015-07-14 11:48] martin-helmich commented on #82
@pstranghoener Any ideas on this?

[2015-07-17 10:11] mirkokaufmann opened #83 "Deprecation notice: Fix static call (PHP 5.6)"
PHP Runtime Deprecation Notice: Non-static method TYPO3\CMS\Extbase\Configuration\FrontendConfigurationManager::getTypoScriptSetup() should not be called statically, assuming $this from incompatible context in [...]/typo3conf/ext/typo3_forum/Classes/Domain/Model/Forum/Topic.php line 197

[2015-07-17 13:52] mirkokaufmann opened #84 "Fatal error while opening topics with attachments"
Fatal error: Call to a member function convertTypoScriptArrayToPlainArray() on a non-object in [...]/typo3conf/ext/typo3_forum/Classes/Domain/Model/Forum/Attachment.php on line 79

[2015-07-17 13:59] mirkokaufmann commented on #11
Hello @velletti

did you work on this script already?

Greetings
Mirko

[2015-07-20 18:14] stefan72 commented on #11
Also interested in this issue. It would help typo3-forum to get a good start :)

[2015-07-20 18:14] selim-hausformat commented on #11
Guten Tag

Vielen Dank für Ihre Nachricht. Ich bin vom 18.07.2015 bis 09.08.2015 abwesend. Diese Nachricht wird nicht weitergeleitet.

Bei dringenden Fällen schreiben Sie eine E-Mail an: support@hausformat.com

Freundliche Grüsse
Selim Imoberdorf

—
.hausformat
Rohrerstrasse 20
5000 Aarau
+41 (0)62 823 86 80
www.hausformat.com

Folgen Sie uns:
www.facebook.com/hausformat
plus.google.com/+hausforma

[2015-07-21 06:17] velletti commented on #11
I sent Mirko the updated Scripts to give it a try. Actually this is just a standalone Script without any TYPO3 integration (not a backend Tool ! ) as it needs two databases for a smooth update from an old 4.5 plattform to a new 6.2 Version.

and the tool needs to be run from command line.

For me it finally worked, also i still have some unsolved Issues during Upgrade, as we used a modified versio

[2015-10-01 13:33] sdiercks opened #86 "TYPO3 7.X Compatibility"
Full compatibility for TYPO3 7.X (currently @ 7.5) needed - someone working on it?

[2015-10-05 12:07] martin-helmich commented on #86
@pstranghoener, do you have any plans concerning 7.5 compatibility?

[2015-10-07 09:14] #82 closed

[2015-10-07 09:16] #28 closed

[2015-10-07 09:20] #83 closed

[2015-10-13 11:54] mirkokaufmann opened #87 "Moderation: Error while deleting posts / topics"
When a moderator deletes a topic or a post, not all posts will be marked as deleted. Empty topics are not allowed and generate fatal errors in forum index view.

The function topicConformDeleteAction in moderation controller has to be checked.

[2015-11-04 10:53] silversight opened #88 "Installation not possible"
Hi..

I hope this is the right place my question and get some information about my problen not beeing able to install typo3-forum on a clean Mittwald account with TYPO3 6.2.15

importing the extension via Extension Module ist possible; I get an import error.
And´copying the ext into the ext folder, turns the ext. module into a white page.

All dependencies are installes, properly.

Are there any h

[2015-11-04 10:54] selim-hausformat commented on #88
Guten Tag

Vielen Dank für Ihre Nachricht.
Diese Adresse ist nicht mehr in Betrieb. Bitte wenden Sie sich an Reto Schmid (reto@hausformat.com) oder an unseren Support unter support@hausformat.com.

Freundliche Grüsse
Selim Imoberdorf

—
.hausformat
Rohrerstrasse 20
5000 Aarau
+41 (0)62 823 86 80
www.hausformat.com

Folgen Sie uns:
www.facebook.com/hausformat
plus.google.com/+hausformat

Benötigen

[2015-11-05 12:48] pstranghoener commented on #88
Hey,

there will be a final release from the extension in the TER and than the problem will be obsolete. For the Installation instructions there will be a documention.

Best Regards

[2015-11-05 12:49] #88 closed

[2015-11-05 12:58] silversight commented on #88
Hi....
thanks for the info. is there a date planed? (at least approx.);
Probably you wait until the relase of the LTS, right?

[2015-11-13 11:08] mojobsb commented on #6
Is there a documentation already?
I'm new to typo3_forum / mm_forum. Which is the most fitting documentation from mm_forum?
It's hard to use the extension without any clue how to install and configure....

[2015-11-19 08:18] alat54 commented on #86
Hi, and on 7.6 LTS?

[2015-11-25 14:21] pstranghoener commented on #86
Hey,

first release is now available in TER http://typo3.org/extensions/repository/view/typo3_forum
It it compatible from 6.2.0 to 7.x

[2015-11-26 08:52] alat54 opened #89 "connection problem"
Hi,

I have tested the new version on TER and on a 7.6 typo3 plateform.
But i couldn't find the way to login in the forum, with the basic login form on typo3, i have still

-- connection block
Login successful
You are now logged in as 'admin'
-- dashboard block
Whoops!
You need to be logged in to view your own subscriptions.

Can you help me?

Thanks

[2015-11-26 09:18] velletti commented on #89
I think it is missing just a part of documentation:

Edit the Usergroup you gae access to the Forum:
in TYPO3 backend (or look into databes tabel fe_groups)

It must be tx_extbase_type set to  Tx_Typo3Forum_Domain_Model_FrontendUserGroup

same for You User Account:
It must be tx_extbase_type set to   Tx_Typo3Forum_Domain_Model_FrontendUser

See typosrcipt setup:
Configuration/TypoScript/setup.txt

[2015-11-26 11:46] alat54 commented on #89
Oh it's named typo3_forum group and typo3_forum user in my BE !
I searched Tx_Typo3Forum_Domain_Model_FrontendUser.

My bad sorry.
Thanks for your help

[2015-11-26 11:46] #89 closed

[2015-11-26 12:30] #86 closed

[2015-11-30 14:48] teuniz-nl opened #90 "Hyperlinks in Forum list do not link"
Hyperlinks in the forum list do not link. The href attribute is empty. Did I miss a setting?

Is there a basic installation guide for typo3_forum now that it is in TER?

Thanks in advance!

[2015-11-30 15:20] velletti commented on #90
this can have 2 reasons:
the PID Settings are empty or pointing to a not reachable page ( not logged in etc) :

plugin.tx_typo3forum.settings {
pids {
		Forum =
		UserShow =
		UserList =
		QuestionList =
		AllQuestions =
	}

or
The field "display_pid in the TABLE tx_typo3forum_domain_model_forum_forum has no value

it depends on you templates .. see the used Template CODE ...

[2015-11-30 19:06] teuniz-nl commented on #90
Thank you.

The forums are in sysfolder 25. So I set pids.forum = 25.
The plugin is on page 26. The display_pid was 0, so I changed it manually to 26.
No result. Or should I setup all pages first?

Btw: the users are stored on the same page and have access rights. The usergroup and user are extended with the typo3_forum. Did I miss something.

I have the feeling that I'm so close.

[2015-12-01 07:48] velletti commented on #90
PID = SYS Folder will not work:
The IDs you have to enter are NORMAL  Pages: Solution:
Create a Normal Page, Place the default Forum Plugin there and put this as pids.Forum =
If you want to show a list of active users:
Create a Normal Page, Place the  Forum Plugin, select User -> List  there and put this pida as pids.userList = save for the Features userShow ( Details of that user) , Open Question

[2015-12-02 18:09] teuniz-nl commented on #90
Thank you. Finally, it works!

[2015-12-02 18:09] #90 closed

[2015-12-04 09:25] werkraum-admin opened #91 "Static method call inside models"
after installing the new typo3_forum extension I encoutered the first problem with the static method call \TYPO3\CMS\Extbase\Configuration\FrontendConfigurationManager::getTypoScriptSetup(). I recommend to changed this method call to either $GLOBALS['TSFE']->tmpl->setup or to make an instance of \TYPO3\CMS\Extbase\Configuration\FrontendConfigurationManager and then make the method call. Otherwise

[2015-12-11 14:20] jolantadworczyk opened #92 "Sysfolder for feusers"
It has to be an option to set a pid for a fe_users storagefolder.

The extension works without that information, but if you want to send a private message to a another user, you get the error message: no username found.

[2015-12-21 12:49] jolantadworczyk opened #93 "Approval workflow"
Hello!

Is it in works to extend the extenstion about the feature of an approval workflow?
A user answers to a topic, and a moderator hast to check (release) it first.

Jolanta

[2015-12-30 09:01] alat54 opened #94 "[CSS] Side effects"
Hi,

Is it possible to isolate the forum's css? When it's used with the introcution package for example, it break the package's skin.
It breaks the skin of tx_news too...

Thanks

[2016-01-02 17:41] mavoIn commented on #94
hi,

can you make some examples? in my installation i had also "problems" first. after deactivating the bootstrap css via tsconfig i had no problems any more...

[2016-01-06 07:06] alat54 commented on #94
Hi,

Yeah but all it's ok when i desactivate the bootstrap css? because i use it in all of my website...

Thanks

[2016-01-07 07:17] alat54 commented on #94
Hi,

There are the screens
![withforum](https://cloud.githubusercontent.com/assets/10880836/12164568/dc062b44-b516-11e5-8790-a00afbf6dff1.png)
![withoutforum](https://cloud.githubusercontent.com/assets/10880836/12164567/dc038542-b516-11e5-96bd-6a1b81f82bd7.png)

You have when i had the forum template and when i don't add it...
If it's possible to add class to the css it could be great to don't bre

[2016-01-10 08:03] steffmeister opened #95 "PHP 5.4 compatibility"
typo3-forum is compatible with Typo3 6.2 which in turn is compatible with PHP 5.3+.

I have an instance running PHP 5.4 and was curious if typo3-forum really needs PHP 5.5, well it seems it does not. I ran this compatibility check (http://blog.nerdery.com/2013/11/code-compatible-php-5-4-5-5/):

[code]

So I suggest, lowering the requirement to PHP 5.4. (it would also be 5.3 compatible but the code

[2016-01-10 08:19] steffmeister commented on #95
I submitted a pull request.

[2016-01-10 09:07] steffmeister opened #97 "Forum links not generated"
After installation (from TER) one has to set
`plugin.tx_typo3forum.settings.pids.Forum = 78`
or else forum links are not generated (they default to the web root).

This is not noted in the documentation.
Either it should be stated there or it should defaul to the current PID (= page containing the forum plugin).

[2016-01-10 09:13] steffmeister opened #98 "jQuery requirement"
To reduce maintenence overhead typo3 forum should not ship its own copy of jQuery. Instead it should depend on the "t3jquery" extension, which provides a central instance of jQuery. Extension info: http://typo3.org/extensions/repository/view/t3jquery

[2016-01-11 21:37] steffmeister opened #99 "Creating posts fails"
After submitting a new post I get following error message:

[code]

[2016-01-11 21:43] steffmeister opened #100 "Fatal error, topic view"
When creating posts/topics via backend following error ocurrs when trying to view the post in frontend:

`PHP Catchable Fatal Error: Argument 1 passed to Mittwald\Typo3Forum\Domain\Model\Forum\Post::checkEditOrDeletePostAccess() must be an instance of Mittwald\Typo3Forum\Domain\Model\User\FrontendUser, null given, called in [...]/typo3conf/ext/typo3_forum/Classes/Domain/Model/Forum/Post.php on lin

[2016-01-19 14:59] #94 closed

[2016-01-20 13:14] alat54 commented on #6
Hi,

I need it too :( i don't find where i can create a topic on the front, maybe it's a mistake in config but i don't know what i am supposed to do to create a functionnal forum...
A documentation in really really necessary please

Thanks

[2016-01-20 17:33] stefan72 commented on #6
I think if there would be a small documentation, to get the forum installed and running, more uses would use it. And with a good base of users, some might as well be interested to contribute. Strongly agree wit above comments.

[2016-01-20 17:36] stefan72 commented on #11
Can someone give an update to this issue? There are many mm_forum installations out there and I believe many integrators would be happy if they could move to the new forum.

[2016-01-21 08:26] alat54 opened #101 "Change language"
Hi,

Where is the option or TS line to change the language? It doesn't take the default language...

Thanks

[2016-01-21 08:29] pstranghoener commented on #11
Hey everyone,

we are working on an migration script already and we give an update when its done..

[2016-01-21 08:31] pstranghoener commented on #6
Hey everyone,

we are working on an detailed installation guidance which will be ready soon.

Best Regards

[2016-01-21 08:48] mojobsb commented on #6
There is some documentation on how to install already, even if it's not rendered correctly.
But it ends at the point where it says "no forums found" in the frontend. It would really need some advice how to configure the plugins / userrights. Trial and error didn't help me and that's my major skill ;-)

[2016-01-21 08:57] pstranghoener commented on #6
Thats why we are working on the documentation as i said before.

[2016-01-21 09:13] MajorTom13 commented on #6
I'd like to help. What can I do?

Von meinem iPhone gesendet

[2016-01-25 15:24] erdling09 opened #102 "'xyz.tx_typo3forum_domain_model_user_frontenduser' doesn't exist"
fresh install from repository gives the following error message on a page which includes the forum:
#1247602160: Table 'xyz.tx_typo3forum_domain_model_user_frontenduser' doesn't exist.

Users and group are existing and are having the correct type: typo3_forum user and typo3_forum group.
I also checked setup ts for correct mapping.
Something has to be missing, doing a database table copy of fe_user

[2016-02-03 09:54] vendytjung commented on #84
change initializeObject to injectTyposcriptService would help me a lot.
in typo3conf/ext/typo3_forum/Classes/Domain/Model/Forum/Attachment.php

`public function initializeObject() {
		$ts = $this->typoScriptService->convertTypoScriptArrayToPlainArray(\TYPO3\CMS\Extbase\Configuration\FrontendConfigurationManager::getTypoScriptSetup());
		$this->settings = $ts['plugin']['tx_typo3forum']['settings'];

[2016-02-08 23:13] hogiro commented on #64
Hallo,
thanks for such a great extension.

I wanted to try typo3_forum in Typo3 7.6.2 Unfortunately I cannot click any forum and getting on Forum Page the following error:

ReferenceError: currentPageUid is not defined
url: „index.php?id=“+currentPageUid+“&eID=typo3_forum&language=de&tx_typo3forum_…

How could I solve this problem?

Thanks.

Best Regards

[2016-02-09 06:19] DavidSporer commented on #102
Same problem here on a fresh installation of TYPO3 7.6.2

[2016-02-09 07:16] DavidSporer opened #106 "Use CSS class-prefixes in order to avoide conflicts with extensions and pages that use bootstrap as well"
typo3_forum uses bootstrap and seems to have some custom classes.
This causes problems when the page where it's included also depends on bootstrap.
Please use prefixes for the custom css-classes and don't modify the standard bootstrap classes in order to avoid that.

[2016-02-09 16:21] DavidSporer commented on #64
Hey guys, I've got the same problem that @hogiro mentioned.
I solved it by passing the uid to the page via typoscript and then added a custom JavaScript.

[2016-02-15 14:18] alat54 commented on #35
Will be great :)

[2016-02-17 13:51] sventendo opened #107 "markTopicRead: Topic will only be marked as read if topic has already been read"
`if ($topic->hasBeenReadByUser($currentUser)) {`

This line should read:

`if ($topic->hasBeenReadByUser($currentUser) == false) {`

[2016-02-17 14:01] sventendo opened #108 "Add hooks for showTopic"
In mm_forum the property "topic_views" does a stupid count of topic views with no reference to the user. The same user can trigger multiple topic counts.

The usefulness of this information is up for debate. So maybe it should not be part of the extension.

Should we add a signal slot dispatcher in `\Mittwald\Typo3Forum\Controller\TopicController::showAction`?

[2016-02-18 15:12] sventendo commented on #108
fixed in #109

[2016-02-19 04:54] hogiro opened #110 "Creating Topic Problem"
Hello,

I could install the Forum and can see the forums. As I try to create a topic I get an error and after it even the create Topic Button wont be shown anymore.

That is the Error code:
Oops, an error occurred! Code: 201602190547580418d911

There is another jQuery error on Forum-Pages as following:

SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data
...trim(b);if

[2016-02-19 07:54] velletti commented on #110
I think you have to look to the SysLog and search for the Error Code with that ID 201602190547580418d911 (this is just the timestamp of the error)
To get the "real" PHP Error message. Something was wrong during storing the New Topic.

You can also : delete all entries in  Topics and Posts, Reset the fields Last Post, Last Topics, Topic Count in torum table ( or delete that (hopefully test Forum) ,

[2016-02-19 09:26] mirkokaufmann commented on #95
Merged. Thank you for testing.

[2016-02-19 09:26] #95 closed

[2016-02-25 11:13] NyroTheCat opened #111 "Missing Tables"
Hi,
i want to evaluate this plugin. i made a fresh and clean typo3 installation and added this plugin. i followed the setup instructions. as soon as i create an acl the site stops working and gives me an error code.
i turned on the debug wich noticed me about missing tables. eg:
`'db.tx_typo3forum_domain_model_user_frontendusergroup' doesn't exist`

Typo3 7.6.3
typo3_forum 1.0.0

[2016-02-25 13:00] velletti commented on #111
This looks like missing TYPO Script settings: Please add typo3Forums static Template settings to Your template. After that clear Cache and the message about missing mapping from domain Modell to exisitng fe user Table should go away ..

if so, please close this issue ...

[2016-02-26 13:51] NyroTheCat commented on #111
Thanks 4 your reply. The Error Output has gone. But the forum is still not rendered. As long the ACL is active it gives me an ErrorCode like `Oops, an error occurred! Code: 201602261449345a08b65e`.

[2016-02-29 06:25] hogiro commented on #110
Hello veletti,

Thanks for your Help. I already fixed the problem with creating the Topic problem and did even a pull request. Your information was very helpful for me.

unfortunately I still have the problem with the new Topic/Post Button. After creating the topic the button wont be shown anymore. Just if I clear the cache the button will be visible again. I will try to fix this problem too but i

[2016-02-29 08:04] velletti commented on #111
Have a look into TYPO3 backends Sys Log, there should be a detailed error PHP error info about this timestamp 201602261449345a08b65e code ..
I think the FE user Object is not correct.

[2016-03-08 07:41] alat54 commented on #110
Same issue for the button which desappears...

Thanks

[2016-03-08 08:44] alat54 opened #113 "Database error"
When i check the database, the helper of typo3 said me :
`Database analyzer
Change fields

    select/deselect all
    ALTER TABLE tx_typo3forum_domain_model_format_textparser CHANGE type type varchar(64) NOT NULL default '\Mittwald\Typo3Forum\Domain\Model\Format\BBCode';
    Current value: varchar(64) NOT NULL default 'MittwaldTypo3ForumDomainModelFormatBBCode'
    ALTER TABLE tx_typo3forum_domai

[2016-03-08 14:46] nibelungen commented on #11
Any update on this??

best regards

[2016-03-08 14:54] mirkokaufmann commented on #110
It was a caching problem. Please have a look at current develop branch. Buttons will now be loaded via ajax to be able to cache forum list view and topic show view.

[2016-03-13 00:36] hogiro commented on #110
I just tested it, but unfortunately I cannot see any buttons, not important what I did, I couldnt see any buttons.

[2016-03-14 08:10] alat54 commented on #113
Hi,

With the master i have new error (last is already here)

`array(4 items)
   caller => "TYPO3\CMS\Core\Database\DatabaseConnection::exec_SELECTquery" (60 chars)
   ERROR => "Table 't3_minisites.tx_typo3forum_domain_model_user_frontenduser' doesn't ex
      ist" (79 chars)
   lastBuiltQuery => "SELECT  tx_typo3forum_domain_model_user_frontenduser.* FROM tx_typo3forum_do
      main_model_user_fr

[2016-03-14 08:11] alat54 commented on #113
I have delete all files, empty database before install the master...

[2016-03-14 11:58] velletti commented on #113
Looks as if the Typo3Forum Template setup.txt ist not loaded to your SITE Template

so no TYPO Script settings can do the mapping from TYPO3 fe user model to Typo3 fe_user Database ..
just include the typo3Forum Script should help in this case

[2016-03-14 11:59] velletti commented on #113
double to :
https://github.com/mittwald/typo3-forum/issues/102

[2016-03-14 12:23] alat54 commented on #113
All extension TS are included in my template.

Thanks

[2016-03-22 16:24] hogiro commented on #110
Unfortunately I still didnt get any answer. After Update I dont see any buttons and not important what I configured I see always that the Topics are locked.

[2016-03-23 08:11] velletti commented on #110
@hogiro
if you can give me access to the installation, i can have a look what is missing in you case ...

If you are interested ( this first help is free of charge) send me your contactdata, the link to backend and Frontend  password to typo3 [at] velletti.de I can have a look durng the next evenings ..

[2016-03-23 09:19] hogiro commented on #110
Hi velletti,

unfortunately it is a local installation. Even yesterday I installed all things new, a fresh typo3 installation without any other extensions and just installed typo3_forum from github. The result is the same. Before the update at least I could see the buttons after I cleaned the cache. So I think it has to do with the update.

[2016-04-13 11:53] Naberd opened #116 "No buttons for creating topic. multi language site bug with creation of forums."
We have multiple languages on our site. Installed forum extension with bootstrap template included ( had to comment old bootstrap and jquery plugins ) otherwise our plugin which uses newer ones will not work anymore.
Set in template config storagePid and pids for forum.
Created in backend forum with child.
at frontend we have nothing displayed.
after debug found out that it executes query to selec

[2016-04-14 12:44] hogiro commented on #116
I dont see any create new topics / posts buttons either.

[2016-04-15 12:11] Naberd opened #118 "Forum.js javascript bugs"
First of all to make it better compatible with other extensions which use other javascript libraries.
to replace
`$(document).ready(function () {`
with:
`jQuery(document).ready(function ($) {`

another issue it seem if you have loaded template of forum on root level, forum.js is loaded on every page which causes javascript errors: currentPageUid is not defined. to solve it we need to add the follo

[2016-04-18 14:33] pstranghoener commented on #6
Documentation is updated and will updated continuously.

http://typo3-forum.readthedocs.org/en/latest/

[2016-04-18 14:33] #6 closed

[2016-04-19 07:23] Samuel-Weiss opened #119 "forum.js without BaseURL"
Hy
I have a Problem with the Ajax Loading if i disable the Base-URL.
adding a / to the Ajax URL solved it for me
`url: "/index.php?id="+currentPag...`

'version' => '1.0.1'

[2016-04-19 07:31] Samuel-Weiss opened #120 "Typoscript Setup Bugs"
I Think there are two Bugs in the default setup.txt
Line 339 in the plugin.tx_typo3forum.settings.textParsing.enabledServices.quotes should be
`template = EXT:typo3_forum/Resources/Private/Partials/Standard/Format/Quote.html`
instead of
`template = EXT:typo3_forum/Resources/Private/Partials/Format/Quote.html`

Line 349 plugin.tx_typo3forum.settings.textParsing.editorPanel.panels.bbCodes.title
`tit

[2016-04-19 09:02] kpurrmann commented on #119
Could not not reproduce error.
Need more information on this.

TYPO3 version? RealUrl?

Why u should disable the baseUrl? Or just use `config.absRefPrefix` as recommended.

[2016-04-19 09:21] kpurrmann commented on #116
@Naberd Will check that language issue.

"Create topic/post" - button should be available if an ACL is provided. If there is no ACL, buttons will never been shown.

[2016-04-19 09:25] #111 closed

[2016-04-19 09:27] #108 closed

[2016-04-19 09:29] kpurrmann commented on #106
Split up bootstrap template in version 1.0.1

[2016-04-19 09:29] #106 closed

[2016-04-19 09:31] kpurrmann commented on #100
@steffmeister You have to declare users and groups type in backend.

[2016-04-19 09:31] #99 closed

[2016-04-19 09:32] #98 closed

[2016-04-19 09:32] kpurrmann commented on #97
Added in 1.0.1

[2016-04-19 09:32] #97 closed

[2016-04-19 10:53] #113 closed

[2016-04-19 10:56] kpurrmann opened #122 "Travis fails every time."
@martin-helmich Could you please have a look at it?
https://travis-ci.org/mittwald/typo3-forum/builds/124154125

[2016-04-19 10:59] #120 closed

[2016-04-19 11:14] #118 closed

[2016-04-19 11:17] #110 closed

[2016-04-19 11:27] hogiro commented on #110
sorry but the problem still occurs.

[2016-04-19 11:28] hogiro commented on #116
even after creating and using ACL's I cannot see any buttons.

[2016-04-19 11:28] Samuel-Weiss commented on #119
I Use Typo 6.2 with Real URL.
The `config.absRefPrefix = /` is configured. We haven't a <base> Tag in the header

[2016-04-19 11:31] martin-helmich commented on #122
Fixed in #124

[2016-04-19 11:31] #122 closed

[2016-04-19 11:41] pstranghoener commented on #110
@hogiro Did you install our latest version from the master branch? https://github.com/mittwald/typo3-forum/tree/1.0.1 And followed the installation documentation? The new version was release at April 7.

[2016-04-19 12:10] kpurrmann commented on #119
+1 Fixed, will be updated in next release

[2016-04-19 12:10] #119 closed

[2016-04-19 12:13] kpurrmann commented on #116
Did you configured the constants?
You have to define where forum data has to be stored and on which page current forum plugin is inserted.

If you have, could you please give some information on your TYPO3 version and installed extensions like realurl? May this issue is related to an javascript issue on fixed #119.

[2016-04-19 22:47] osnevi opened #125 "Fatal error: Cannot access protected property"
I get the following Error after entering a Forum in the deepest level.
Example Link: http://www.explortal-logistics.net/explortal-logistics/ask-answer/forum-test.html?cHash=cb6d21b8a67e56e6e4c1b242882b27ae&tx_typo3forum_pi1[forum]=17&tx_typo3forum_pi1[action]=show&tx_typo3forum_pi1[controller]=Forum

This is the error message:
Fatal error: Cannot access protected property Mittwald\Typo3Forum\Domai

[2016-04-20 07:12] Naberd commented on #116
From what i see in javascript error is following error Failed to load resource: the server responded with a status of 404 (Not Found) http://www.simco-ion.nl/index.php?id=458&eID=typo3_forum&language=de&tx_typo3forum_ajax[controller]=Ajax&tx_typo3forum_ajax[action]=main&tx_typo3forum_ajax[format]=json

458 is id of storage folder where all data for forum is located,  language=de that's really stra

[2016-04-20 07:50] Samuel-Weiss commented on #118
I have the same problem with the inline JS in the File: `typo3_forum/Classes/ViewHelpers/Form/BbCodeEditorViewHelper.php`
Additionally its cause a problem if I load jquery in the Footer

[2016-04-20 09:27] pstranghoener commented on #118
Could please add that to your TS:

page.includeJSFooterlibs {
    typo3forum_jquery >
    typo3forum_bootstrap >
}

We will add that to the Documentation

[2016-04-20 10:09] Samuel-Weiss commented on #118
I still get the `Uncaught ReferenceError: $ is not defined` error.
changing in File `typo3_forum/Classes/ViewHelpers/Form/BbCodeEditorViewHelper.php` 107
`' . 'var bbcodeSettings = ' . json_encode($this->getPanelSettings()) . ';' . 'window.onload = function() {' . '$(\'#' . $this->arguments['id'] . '\').markItUp(bbcodeSettings);' . '}; </script>';`
would solve my problem

[2016-04-20 13:23] Samuel-Weiss opened #126 "SQL Error ext_tables_static+adt.sql"
I wasn't `able to import the ext_tables_static+adt.sql` File

SQL query:
[code]

Also there is an inconsistency between` '\Mittwald\Typo3Forum\Domain\Model\Format\BBCode'` and
` Mittwald\Typo3Forum\Domain\Model\Format\AbstractTextParserElement.subclasses .Mittwald\Typo3Forum\Domain\Model\Format\BBCode = Mittwald\Typo3Forum\Domain\Model\Format\BBCode`

[2016-04-20 13:33] Samuel-Weiss opened #127 "MySQL-Table max 64 characters"
I can't create the 'tx_typo3forum_domain_model_moderation_reportworkflowstatus_followup' Table
`#1103 - Incorrect table name 'tx_typo3forum_domain_model_moderation_reportworkflowstatus_followup' `
According to http://dev.mysql.com/doc/refman/5.0/en/identifiers.html the table name ist to long (max. 64 characters)

[2016-04-20 19:04] abeutel commented on #126
Also, the type field entries must not start with a backslash, the logged query was
```SELECT tx_typo3forum_domain_model_format_textparser.* FROM tx_typo3forum_domain_model_format_textparser  WHERE 1=1 AND (tx_typo3forum_domain_model_format_textparser.type='Mittwald\\Typo3Forum\\Domain\\Model\\Format\\BBCode' OR tx_typo3forum_domain_model_format_textparser.type='Mittwald\\Typo3Forum\\Domain\\Model\

[2016-04-20 19:20] abeutel commented on #127
@Samuel-Weiss And obviously a known issue https://github.com/mittwald/typo3-forum/blob/master/Classes/Scheduler/DatabaseMigrator.php#L125 :-(

[2016-04-20 19:43] abeutel commented on #126
Provided an updated file (that worked for me) in #128

[2016-04-21 06:02] Samuel-Weiss commented on #126
Thanks
I Think `typo3_forum/Configuration/TCA/tx_typo3forum_domain_model_format_textparser.php` Line 34-38, 92-96 should beginn without a \ in `\Mittwald\Typo3Forum\`

[2016-04-21 10:28] #126 closed

[2016-04-21 10:30] kpurrmann commented on #127
With #128 and #129 should be fixed because table will not be used anymore.

[2016-04-21 10:30] #127 closed

[2016-04-21 10:39] kpurrmann commented on #125
Fixed in next release.

[2016-04-21 10:39] #125 closed

[2016-04-21 10:42] kpurrmann commented on #116
Problem seems that the ajax call is made on page id 458. It should be the current page where your forum plugin is located. It can be changed by
`plugin.tx_typo3forum.settings.pids.Forum = {your page uid of forum plugin}`

[2016-04-21 10:44] #107 closed

[2016-04-21 10:55] Naberd commented on #116
That is what i have in my typoscript for forum:
`plugin.tx_typo3forum {
  persistence {
    storagePid = 458
  }
  settings {
    pids {
      Forum = 675
    }
  }
}`

[2016-04-21 11:00] kpurrmann commented on #116
Ok found the problem:
Look at: `http://www.simco-ion.de/typo3conf/ext/typo3_forum/Resources/Public/Javascript/forum.js` First 3 lines.

[code]

Someone edited the default forum.js.

[2016-04-21 11:00] #116 closed

[2016-04-21 11:08] Naberd commented on #116
removed the confusing page id from forum.js: var currentPageUid;
on forum page it's defined so it gives always 675 back  log from console:
currentPageUid
"675"

[2016-04-22 07:44] Samuel-Weiss opened #132 "Fluid Templates"
in File `typo3-forum/Resources/Private/Templates/Standard/User/Show.html` Line 50 the Link Action isn't closed
`<f:link.action action="listPosts" arguments="{user: user}"`

in File `typo3-forum/Resources/Private/Templates/Standard/User/Dashboard.html` Line 57: I Think the pageUid should be `{settings.pids.UserShow}` instead of
`<f:link.page pageUid="7">`

[2016-04-23 20:38] marchorst opened #133 "TCA Syntax Error in tx_typo3forum_domain_model_format_textparser.php"
When trying to add a text parser there is an error in the tca.
Furthermore there are some translations missing.

[2016-04-23 20:46] marchorst commented on #133
already fixed in develop branch

[2016-04-23 20:46] #133 closed

[2016-04-29 14:20] jolantadworczyk opened #136 "Responsive"
Is the output of the templates for mobile devices in planning?

[2016-05-01 09:12] mavoIn opened #137 "Possibility to write an user a pm via direct link"
Hello,
in the old version of mm_forum i had the possibility to prefill the pm form via an direct link.
index.php?tx_mmforum_pi3[action]=message_write&userid=123

 Is it possible to start a conversation with an user although via a link in typo3-forum?

[2016-05-03 08:38] hogiro commented on #110
Hello Philipp,
yesterday I wanted to test all again. I installed a clean new Typo3 v 7.6.6 and used the typo3_forum 1.0.2 from the TER. Unfortunately I still cannot see any buttons. As I said, the installation is clean and I included the Templates and set the Forum id.

What I realized is, that I cannot see the Forum Plugin by folder options for Contains Plugin. In earlier Versions I had it in Dro

[2016-05-03 11:07] pstranghoener commented on #110
Hello everyone,
it was a problem is an none configured ACL, the issue is done. So it could be closed.

Best regards Philipp

[2016-05-09 07:33] wr-lang opened #138 "AJAX Dispatcher - initializeTsfe()"
`$GLOBALS['TSFE'] = GeneralUtility::makeInstance('tslib_fe', $GLOBALS['TYPO3_CONF_VARS'], GeneralUtility::_GP('id'), GeneralUtility::_GP('type'), true);`

should be

`$GLOBALS['TSFE'] = GeneralUtility::makeInstance('TYPO3\CMS\Frontend\Controller\TypoScriptFrontendController', $GLOBALS['TYPO3_CONF_VARS'], GeneralUtility::_GP('id'), GeneralUtility::_GP('type'), true);`

otherwise an error will be th

[2016-05-10 15:49] sventendo opened #139 "Make CSS Stylesheets optional"
In `Configuration\TypoScript\setup.txt` the site wide styles are added via `page.includeCSS`. This can break the overall styles of the site.

Inclusion should be configurable through a constant and a condition.

[2016-05-10 16:05] sventendo commented on #139
Changes are proposed here: #140

[2016-05-27 11:01] sventendo commented on #81
In the same vein, critical code should still make sure we're in the FE context.

I added my own BE module to go through some custom migration tasks and this here triggered an error:
\Mittwald\Typo3Forum\Domain\Model\Forum\Topic::injectTyposcriptService

I wrapped it like this to make it work:
[code]

[2016-06-14 20:49] mavoIn commented on #92
I can agree. At the moment you have to add the sys folder in the general storage in the page settings.

[2016-06-14 21:09] mavoIn commented on #137
Issue solved:
https://www.domain.de/typo3_forum/nachrichten.html?tx_typo3forum_pi1[action]=newMessage&tx_typo3forum_pi1[controller]=User&tx_typo3forum_pi1[recipient]=1234

1234 is the UID of the user you want to write a message ;-)

[2016-06-14 21:09] #137 closed

[2016-06-15 14:40] Lobster1956 opened #141 "Bootstrap 3 compatibility ???"
Are there plans to modify the Templates/Partials for Bootstrap 3 ???

[2016-06-17 10:31] Lobster1956 opened #142 "better using standard tx_extbase_type"
hi...
for working with other extensions together they NEED the original type **Tx_Extbase_Domain_Model_FrontendUser** it would be neccesary that typo3_forum does this also !!!
In my case this was jobfair and typo3_forum... I know that this is a little breaking chance _(modifying the tx_extbase_type in the existing datatables)_, but, better now than later !!!
As i have testet, It is only this TS fo

[2016-06-22 11:46] pstranghoener commented on #141
Hey, there are no plans yet. I tagged it as an enhancement

[2016-07-14 08:24] sventendo opened #143 "SQL CREATE statement broken"
The ext_tables.sql is missing a comma. That is breaking the install tool db compare.
`tx_typo3forum_userfield_values int(11) unsigned default '0'`
should be
`tx_typo3forum_userfield_values int(11) unsigned default '0',`

[2016-07-14 08:38] sventendo commented on #143
After more research, it's not a breaking bug. Should still be fixed.

[2016-07-22 15:24] macjohnny commented on #142
+1

[2016-08-05 09:45] macjohnny commented on #138
this has been fixed and could be closed

[2016-08-05 09:46] macjohnny commented on #101
this should be fixed in https://github.com/mittwald/typo3-forum/pull/145

[2016-08-07 14:52] billbo85 opened #148 "Problem with own template / TS"
Hi all

I'm sorry for my newbi post, but I have no idea how I can fix my issue.

With bootstrap_package as template I have no problem. I see topic / posts and their create button. But if I include my own extension (template) I also see my created topic / posts, but I don't see the create button. So I think anything is wrong in my template or TS, which prevent "mmf:authentication.ifAccess" command

[2016-08-15 08:43] sxbxstxxn opened #149 "No "create new topic" Button in clean typo3 installation"
I installed a clean Typo3 7.6.9 and typo3_forum with this installation guide:
http://typo3-forum.readthedocs.io/en/master/Configuration/Installation/Index.html
I can see all the forums, but there is no "Create new topic" Button. I set the ACLs to "Everyone" but now have no idea what is the problem... I can create new topics in Backend and they were shown.

[2016-08-16 04:52] mavoIn commented on #149
hi, do your frontend user have the additional extbase groups?

[2016-08-16 05:51] brainfuck666 opened #150 "No "upload attachment"-Button in frontend"
Hey there,
first of all, thanks for the proper typo3 forum!

Is there a way to upload attachments in the frontend? I'm missing a button or something like this. Or is there simply no way to upload attachments when editing or creating posts?

[2016-08-16 06:26] velletti commented on #149
That are all possible Reasons i know:

-> Frontend User is not extbase Type "Typo3forum FE user" : See TYPOScript of typo3forum the expected extbaseType

-> No Frontend user logged in
-> Backend User is also logged in in SAME Brower session and so Frontgroup Access is calculated wrong
-> TYPO3 Cache -> clear Cache in Installtool and maybe also delete the sub folders in typo3temp
-> Forumsection Ac

[2016-08-16 07:44] sxbxstxxn commented on #149
I think the problem was a multiple load of jquery and bootstrap. After removing that, there is the button. So propably the javascript error was the problem... Thx for help !

[2016-08-16 07:44] #149 closed

[2016-08-18 10:16] magu81 commented on #150
This will be a great feature -  so it make sense !

[2016-08-18 11:04] velletti commented on #150
if you have included the typoscript of typo3forum and use the default templates, there are the possability to upload files.

see source Code of used form Template

EDIT/ Create
https://github.com/mittwald/typo3-forum/blob/develop/Resources/Private/Partials/Bootstrap/Post/Form.html

or Show Post
https://github.com/mittwald/typo3-forum/blob/develop/Resources/Private/Partials/Bootstrap/Post/Single.ht

[2016-08-19 09:30] cwirsing opened #151 "High Load on Server with around ~22K topics and ~220K posts"
Hi all!

I have a high load problem with typo3_forum: I migrate my old mm_forum data into the database tables of typo3_forum. Everything ist working (list-view, detail-view, pagination etc...) but if i want to add a new topic, my cpus are going 100% till max_execution_time. I could figure out that this happens when $this->topics->attach($topic) is reached at the function addTopic().

At all, i mig

[2016-08-19 10:42] brainfuck666 commented on #150
Thanks for your response!

I set up the forum according to the tutorial. Hence, the typoscript is included as well as the default templates. Everthing works fine, I am able to create posts, comments, do moderation stuff etc. Except that there's simply no button or upload dialog where it should be according to the templates.

So, do you have any clue where my problem might be? Or any idea how to fi

[2016-08-19 11:02] magu81 commented on #150
The same concerning me also - i`m unable to see some upload / attachement button or some other textediting Icons !

[2016-08-19 11:03] magu81 commented on #150
can you give an example please - how to do  !

[2016-08-19 11:04] magu81 commented on #150
remember that nobody was born as an typo3 expert, but everybody can be one !

[2016-08-19 11:48] brainfuck666 commented on #150
I can see those textediting icons above the textbox...

@magu81  have you included the typo3_forum bootstrap template in your "include static template" options?

[2016-08-22 12:58] pstranghoener commented on #148
Hey,

may be you have another bootstrap version in you own template?

Best Regards Philipp

[2016-08-22 21:32] billbo85 commented on #148
Hey,
I have tried several bootstrap versions in my own template. e.g. 3.3.5 or 3.3.7.
There I've included bootstrap.min.css / bootstrap.min.js in template. Maybe there is something missing? But I have no idea what..

Regards
Billy

[2016-08-24 09:35] magu81 commented on #150
@brainfuck666
i did all descripted above -  included the TS in the PAGE which contains the Forum Plugin - i included the TSetup and the Constants also.
The bootstrap is also as Template included --- but it seems not working properly.  I only can send post / replys with no text-Formatting and / or upload some images !

[2016-08-24 09:37] magu81 commented on #150
have i do some modifications in the Classes via php ?    is the sentence i TS-Setup on the ForumsPage correct with

mod.web_list {
	deniedNewTables := addToList(tx_typo3forum_domain_model_forum_access,tx_typo3forum_domain_model_forum_attachment,tx_typo3forum_domain_model_moderation_reportcomment,tx_typo3forum_domain_model_user_privatemessage_text)
}

it concernes the ,,deniedNewTables"    .. i als

[2016-08-29 10:57] nicozerr opened #152 "TCA error"
Hi.

In Configuration/TCA/tx_typo3forum_domain_model_stats_summary.php, you should replace:
`'sortby' => 'tstamp DESC',`
by
`'default_sortby' => 'ORDER BY tstamp',`

Same problem with Configuration/TCA/tx_typo3forum_domain_model_user_notification.php, you shoud replace:
`'sortby' => 'crdate DESC',`
by
`'default_sortby' => 'ORDER BY crdate',`

TYPO3 7.6.10
typo3_forum 1.0.3

[2016-08-29 11:00] nicozerr opened #153 "Subscribe/Unsubscribe not working"
Hi.

It's not possible for me to unsubscribe to a topic. If I click on Subscribe, my user is added to the topic, but the (ajax) menu continue to show Subscribe button.
Maybe it's a cache issue with eid.

TYPO3 7.6.10
typo3_forum 1.0.3

[2016-09-06 13:49] sgmcgill commented on #150
I've got the same problem. What and where I need to configure to enable the Attachment button. In the fluid template is an mmf:authentication.ifAccess with accessType="newAttachment". Where do I need to set this authentication Type.

[2016-09-08 10:13] magu81 commented on #150
tried it with all versions Available -  no success !!   Can anybody deiver an example, how to configure it, to enable Attachements etc .pp.. !?

[2016-09-08 10:55] velletti commented on #150
in Backend -> List -> Forum you should be able to add the Access Type newAttachment.

You need to repeat this for EACH Forum !
set login level to "LoginUser" or restrict it to a specific user Group (or repeat it for all user Groups)

It is the same like Access Rights to CREATE , EDIT and moderte:
you need to create the "read" , newTopic" "newPost" "editPost"  "newAttachment" and for shure also for

[2016-09-08 11:06] velletti commented on #150
PS if you are on TYPO3 7.6, maybe the ifAccessViewhelper will not work :

this
 typo3-forum/Classes/ViewHelpers/Authentication/IfAccessViewHelper.php

uses RenderChild like the Old If Viewhelpers but this in m.O. does not work any more

repalce the Code after the namespace line with this :
if it works, (after Clear Cache in Install Tool!!!) i can try to update the code of the exteension
`
/**
 *

[2016-09-08 11:18] velletti commented on #150
see also
[IfAccessViewhelper.txt](https://github.com/mittwald/typo3-forum/files/461468/IfAccessViewhelper.txt)

[2016-09-08 12:09] magu81 commented on #150
thx,

 i run with typo3 6.2.25.

I tried it, but can't see any ,,Attachements" in the Access right's, just READ, CREATE, EDIT, DELETE, MODERATE ... are available.

Could it be with the wrong sr_feuser-extension that this caused the unavailability of the function ?

[2016-09-08 13:23] velletti commented on #150
yes, you are right ... in TCA of the forum access the Option newAttachment is gone since this cahnge

https://github.com/mittwald/typo3-forum/commit/92283c347cf14331c586a9e5204f70e8ca896e37#diff-e5064b7818269b0908457fdf1278860c

if you add
	[$lllPath . 'operation.newAttachment', 'newAttachment'],

after :
 [$lllPath . 'operation.editPost', \Mittwald\Typo3Forum\Domain\Model\Forum\Access::TYPE_EDIT_

[2016-09-08 13:28] velletti commented on #150
... but as i saw that the lokal Lang File was also modified and there is removeved the "New Attachment" string, it looks like a bug in the Template ... so someone thinks there should not be the separate Right to make a difference between Create Post and add Attachment ...

so correct your Tempalte an change
 mmf:authentication.ifAccess with accessType="newAttachment".
to
 mmf:authentication.ifAcce

[2016-09-08 14:21] magu81 commented on #150
access to ,,Attachement" is chooseable ... but getting in frontend with ,,create new topic":

Oops, an error occurred!

The form field "tx_typo3forum_pi1[attachments][][name]" is invalid. Reason: "[]" used not as last argument, but somewhere in the middle (like foo[][bar]).

More information regarding this error might be available online.

############################

locallang_db is modified:

[2016-09-08 19:28] jensengelmann commented on #150
I stumbled upon the same problem... and there's an easy fix...

The upload form name in the standard template is just missing an array indicator ... take a look at the bootstrap template. There the upload form looks like this:

`
<f:form.upload name="attachment[0]"/>
`

...while in the standard template it looks like this:

`
<f:form.upload name="attachment[]"/>
`

Just add a '0' and you'll be fin

[2016-09-08 22:55] jensengelmann commented on #150
Oh boy...

First of all we need to set the encoding type of the form to multipart/form-data. This is of course done in the according fluid template:
[code]

Next thing I stumbled upon was a problem in the AttachmentService.php (https://github.com/mittwald/typo3-forum/blob/develop/Classes/Service/AttachmentService.php)... there we have a call to a non-defined function (...->getTCAConfig()) and a mk

[2016-09-09 07:01] magu81 commented on #150
This is of course done in the according fluid template: ===> Which file ... where to find ?

[2016-09-09 08:35] jensengelmann commented on #150
@magu81 Depends on the template you use: for the standard template it's https://github.com/mittwald/typo3-forum/blob/develop/Resources/Private/Partials/Standard/Post/Form.html, if you are using the bootstrap template you'll find the template here: https://github.com/mittwald/typo3-forum/blob/develop/Resources/Private/Partials/Bootstrap/Post/Form.html

[2016-09-09 08:52] magu81 commented on #150
now i got no more errors - but nevertheless , .. the upload (attached image [jpg]) isnt shown in the post !

[2016-09-09 08:57] magu81 commented on #150
i belive that the mittwald guys should release a 1.0.4 Version of the typo3_fourm which includes the Attachement upload in the forum again -- it make sense !!

[2016-09-09 09:14] jensengelmann commented on #150
@magu81 Please check your upload folder (should be something like /uploads/tx_typo3forum/attachments) - I guess it doesn't have write permissions for the www-data since it might have been created by the mentioned mkdir function without the proper $mode settings (default permissions should be 0777 but were 0655 in my case).

The whole directory checking and creating part should be revised. I don't

[2016-09-09 09:21] magu81 commented on #150
the folders are now createtd, --- but still no attachements uploaded

[2016-09-09 09:24] magu81 commented on #150
@jensengelmann --- can you send me your ,,typo3_forum" extension ?

[2016-09-13 09:32] magu81 commented on #150
@jensengelmann - can you send me your modificated typo3_forum as an archive ? in my case, it won't work !

[2016-09-15 07:43] morphesus opened #155 "Error: Sorry, the requested view was not found."
Hello everyone,

I'm currently trying to install the typo3_forum extension on my TYPO3 6.2.27 installation - no luck so far :( I followed the instructions of the [documentation](http://typo3-forum.readthedocs.io/en/master/Configuration/Index.html), but ended up with this:
![image](https://cloud.githubusercontent.com/assets/1678039/18541828/e0f32238-7b27-11e6-9c11-7f2713c35f91.png) (This should be

[2016-09-15 11:57] morphesus commented on #155
Solved it by including both templates (the "normal" one and the Bootstrap one) in static includes.

[2016-09-15 11:57] #155 closed

[2016-09-15 12:07] jensengelmann commented on #150
@magu81 - we are implementing a highly customized version of the original extension, so I don't think it'll help you. All in all the whole file upload had to be reworked. We added the things we needed, like the possibility of deleting files when updating a post. But we tailored everything to our needs without thinking about a more general solution.

[2016-09-15 12:40] magu81 commented on #150
@jensengelmann -- nun gut, jedenfalls verstehe ich nicht, warum der Upload nicht funktioniert, Datei auszuwählen, hochzuaden, aber ncihts im Post zu sehen, ebenso wenig eine Fehlermeldung und auch ncihts im upload/typo3_forum/-Folder ... komische Sache !

[2016-09-16 09:08] morphesus opened #156 "Unable to create topic"
Hello everyone!

Maybe someone of you already know this issue to be unable to create topics with ACL's given, extended Website User and Usergroup. Also the TypoScript configuration is done, the static includes too. I found the issue #116, but my forum.js file looks clean and there is no static definition for any UIDs.

So, I have a TYPO3 6.2.27 running with just a few modifications, nothing specia

[2016-09-16 16:58] jensengelmann commented on #150
You should debug the create/update action... look for the php $_FILES array. If it's empty when you're trying to submit files, there might be a problem with the form itself (e.g. wrong name for the file input field).

[2016-09-21 07:26] pstranghoener commented on #156
Hello,

did you give your users and your usergroups the typo3_forum user rights?

Best Regards
Philipp

[2016-09-21 08:46] morphesus commented on #156
Hi @pstranghoener and thanks for your response!

Yes, the users have the ACL permissions (Read, Write, Edit, Create Topic) as well as the correct record type.

Kind regards
Enrico Ludwig

[2016-09-21 09:05] pstranghoener commented on #156
Then there must be something else misconfigured.

[2016-09-21 09:07] morphesus commented on #156
Maybe, yes.

I followed the instructions from readthedocs.io multiple times, even on a completly blank system but I always got the same result. Maybe there is something wrong in the documentation ...

[2016-09-21 09:10] pstranghoener commented on #156
I don't think that there is something wrong in the documentation, there are enough people how are using it like this. And we are using it on typo3.net also.

[2016-09-21 09:12] morphesus commented on #156
But what could be the issue? I revised all permissions many times - much more possibilities aren't given. Or have I got that wrong?

[2016-09-21 09:21] pstranghoener commented on #156
I don't know that you have missconfigured, it is the same as looking into a glass sphere for me... Sorry to say that...

[2016-09-21 09:25] pstranghoener opened #157 "Remove the ::class for PHP 5.4 compatibility"
Please remove the following classes.....

$ git grep '::class' | cat
Classes/ViewHelpers/IfInstanceOfViewHelper.php:        $this->registerArgument('object', AbstractDomainObject::class, 'Object to check', true);
Classes/ViewHelpers/User/IfSubscribedViewHelper.php:        $this->registerArgument('object', SubscribeableInterface::class, 'Object to check', true);
Classes/ViewHelpers/User/IfSubscribe

[2016-09-21 09:33] morphesus commented on #156
Maybe it helps a bit, when I post some screenshots:

This is my ACL configuration
![image](https://cloud.githubusercontent.com/assets/1678039/18705436/87aa7a66-7fee-11e6-901e-55cd312407c0.png)

The record type for the user is set
![image](https://cloud.githubusercontent.com/assets/1678039/18705463/a4ac6e80-7fee-11e6-9882-37b1a9d47879.png)

User settings are still default
![image](https://cloud.git

[2016-09-21 09:45] pstranghoener commented on #156
Thats easy look at at the first screenshot at the point "login level". You have to choose the user group there...

[2016-09-21 09:46] #156 closed

[2016-09-21 10:05] morphesus commented on #156
Yeah, thanks for closing the topic without waiting for my response ...
I also tried this, here are some screenshots:

This is the user:
![image](https://cloud.githubusercontent.com/assets/1678039/18706664/367b6d8a-7ff3-11e6-9988-ba350153a5a1.png)

Here are the ACLs:
![image](https://cloud.githubusercontent.com/assets/1678039/18706763/91ddb8d6-7ff3-11e6-922c-0705807fcc23.png)
![image](https://cloud

[2016-09-21 11:04] pstranghoener commented on #156
Thats screenshots doesnt help me alot, did you clear caches and logout and login again and al these things? I am sorry say but its an free extension and the can't give support for all the misconfugrations the users are doing.

[2016-09-21 12:08] morphesus commented on #156
Hi there

Yes, I cleared all caches (also with the Install tool)

I know that it's not that easy to help remotely especially if it's an Open Source project, but I'm thankful that you try to help me with this.

There is not that much of configuration done, as I said: I already tested it on a completely blank TYPO3 installation. Maybe it helps a bit, when you also see my TypoScript configuration for

[2016-09-21 13:33] bihor commented on #150
Hier noch ein entscheidender Fehler:
in Classes/Domain/Model/Forum/Post.php
Zeile 352:
[code]

[2016-09-21 15:16] bihor commented on #150
Ein weiteres Problem: die oben genannte Lösung:
`public function initializeObject() {
    $ts = $GLOBALS['TSFE']->tmpl->setup;
    $this->settings = $ts['plugin']['tx_typo3forum']['settings'];
}`
funktioniert nicht, wenn isValid in AttachmentPlainValidator hier aufgerufen wird:
`      /** Creates a new post.
	 *
	 * @param Topic $topic The topic in which the new post is to be created.
	 * @param P

[2016-09-21 15:30] jensengelmann commented on #150
As i wrote: I think the whole file upload and attachment handling has to be rethought/reworked. E.g. there's no delete function for an already uploaded attachment.

[2016-09-22 08:08] bihor commented on #150
Well, it works with the changes from above. I think it is not neccessary to rework everything.

[2016-09-22 08:33] magu81 commented on #150
@bihor -- da ich schon ewig versuche daran herumzudoktorn -  kannst Du mir vielleicht Dein modifiziertes Paket irgendwie zukommen lassen !?

[2016-09-22 08:58] magu81 commented on #150
@bihor  --in welchem FIle genau muss:

Hiermit funktioniert es jedenfalls:

 $ts = $GLOBALS['TSFE']->tmpl->setup; if ($ts[0] == '') { $typoScriptService = \TYPO3\CMS\Core\Utility\GeneralUtility::makeInstance('TYPO3\\CMS\\Extbase\\Service\\TypoScriptService'); $ts = $typoScriptService->convertTypoScriptArrayToPlainArray(\TYPO3\CMS\Extbase\Configuration\FrontendConfigurationManager::getTypoScriptSet

[2016-09-22 15:43] jensengelmann commented on #150
@bihor Well, we've just encountered another problem with the file download... the downloadAction in the PostController returns headers and a view error message in the standard configuration. This is no problem for robust file types like most images, but easily corrupt others (like pdf or word).

Easy fixes, for sure, but the whole file up- and download jsut doesn't work out of the box...

Maybe yo

[2016-09-22 20:21] bihor commented on #150
Thats the file where you need to correct the initializeObject().

I am not sure if I am allowed to publish my version. I will ask the chief.

[2016-09-22 21:24] billbo85 commented on #148
Bug fixed.

I included Bootstrap.min.js version 3.3.7 and jquery.min.js version 2.2.1 on the bottom of template (under the footer). Problem was the jquery version which was missing and was not loaded.

[2016-09-23 08:12] bihor commented on #150
Yes, I can confirm, that a download of a PDF will not work.
Is there a solution?

Noch ein Nachtrag zu dem allgemeinen Fehler:
da im Fehlerfall nur eine allgemeine Fehlermeldung ausgegeben wird, sollte
man bedenken, dass standardmäßig nur Anhänge mit max. 4 kB erlaubt sind.
Das ist natürlich ein Witz. Ich habe bei attachment.allowedSizeInByte noch drei 0en angehängt...

[2016-09-23 08:29] magu81 commented on #150
so we might hope that MITTWALD will release a 1.0.4 Version soon !!!

[2016-09-23 09:00] jensengelmann commented on #150
@bihor We fixed it, but it's not a real solution.

For getting rid of the header data, we added a new page type (in our case we used an already existing ajax page type) without any header data and added the page type to the download links in the frontend. Maybe a solution with a GPvar condition which checks the controller and action works too.

In the downloadAction we added an `exit();` at the en

[2016-09-23 10:26] bihor commented on #150
This is my solution for download-problem:
in Classes/Controller/PostController.php -> downloadAttachementAction:

$attachment->increaseDownloadCount();
$this->attachmentRepository->update($attachment);
$headers = array(
		'Pragma'                    => 'no-cache',
		'Expires'                   => gmdate('D, d M Y H:i:s') . ' GMT',
		'Cache-Control'             => 'must-revalidate, post-check=0, pr

[2016-09-26 16:07] Joe1am opened #158 "Trying to extend the userfields"
Hello!

I'm trying to extend the userfield list on the profile page with some extra fe_users attributes.

In setup.txt there are already a view fields set up like this:

[code]

and i can add a normal fe_user attribute like this

[code]

so far, it's easy :)

But I created another little extension which extends my fe_users with some custom fields..

The ext_typoscript_setup.txt looks like this

[c

[2016-09-27 08:49] bihor commented on #150
OK, my solution for initializeObject in Classes/Domain/Model/Forum/Attachment.php worked only on the Testserver. This is the correct solution:
	public function initializeObject() {
		$ts = $GLOBALS['TSFE']->tmpl->setup;
		if (!is_array($ts['plugin']) && !is_array($ts['plugin.'])) {
			$typoScriptService = \TYPO3\CMS\Core\Utility\GeneralUtility::makeInstance('TYPO3\\CMS\\Extbase\\Service\\TypoScrip

[2016-09-28 09:04] bihor commented on #150
Leider war die Lösung auch nicht korrekt. Es ist verwirrend, aber wahr:
ein Array enthält Punkte am Ende der Keys, das andere nicht. Also muss es so aussehen:
$this->settings = $ts['plugin']['tx_typo3forum']['settings'];
if (!$this->settings) {
  $this->settings = $ts['plugin.']['tx_typo3forum.']['settings.'];
  $this->settings['attachment'] = $ts['plugin.']['tx_typo3forum.']['settings.']['attachm

[2016-09-28 09:12] jensengelmann commented on #150
@bihor There's a tool for that: TypoScriptService->convertTypoScriptArrayToPlainArray (https://typo3.org/api/typo3cms/class_t_y_p_o3_1_1_c_m_s_1_1_extbase_1_1_service_1_1_typo_script_service.html#a72aaf68b5db8f8624dd65b680e5b7697)

[2016-09-28 10:10] bihor opened #159 "'Exception' with message 'access record #11 is of login level type \"specific\", but has not valid affected user group'"
When I select the Login level "Specific group" and select a group, I get this error message:
`Oops, an error occurred! Code: 20160928112104781dac93 - {"exception":"exception 'Exception' with message 'access record #11 is of login level type \"specific\", but has not valid affected user group' in \/xyz\/www\/typo3conf\/ext\/typo3_forum\/Classes\/Domain\/Model\/Forum\/Access.php:184\nStack trace:\n#

[2016-09-28 13:49] bihor commented on #153
I have the same problem.

[2016-09-28 14:38] bihor commented on #159
An hotfix for the function matches in Classes/Domain/Model/Forum/Access.php:
if ($this->loginLevel === self::LOGIN_LEVEL_SPECIFIC) {
	if (!$this->affectedGroup instanceof FrontendUserGroup) {
		$groupUid = $this->getUid();
		if ($groupUid) {
			$affectedGroupUid = 0;
			$resSQL = $GLOBALS['TYPO3_DB']->exec_SELECTquery(
					'affected_group',
					'tx_typo3forum_domain_model_forum_access',
					'ui

[2016-10-02 08:08] mavoIn commented on #141
hi, i added bootstrap 3 resources and templates to my lokal extension. And i added special static templates to make bootstrap 2 or 3 additional.

Will someone test my changes local? at the moment i'm not able to push it via pull request :-(

[2016-10-05 15:39] bihor commented on #150
An @magu81 und Mittwald: unser funktionierendes Forum (in Bezug auf Anhänge) kann man für eine Weile hier finden: [Version 10.0.3](http://www.fixpunkt.com/fileadmin/typo3_forum_10-0-3.zip)
Die meisten Änderungen kann man unter dem Stichwort "KGB" finden...

[2016-10-06 06:41] pstranghoener commented on #150
@bihor Would be cool, if you can make pull request for it so that everyone can use it.

Best Regards Philipp

[2016-10-06 06:50] magu81 commented on #150
@bihor  -- besten Dank - allerdings funktioniert auch hier der Upload nicht, auch wird das PermissionObjekt ,,attachement [Wert nicht erlaubt]" nicht im Backend angezeigt.

[2016-10-06 06:50] magu81 commented on #150
@bihor - ich bin doch richtig der Annahme dass ich hierzu am Quellcode nichts mehr zu ändenr habe !?

[2016-10-06 07:43] magu81 commented on #150
Nachdem ich nun:

if you add
[$lllPath . 'operation.newAttachment', 'newAttachment'],

after :
[$lllPath . 'operation.editPost', \Mittwald\Typo3Forum\Domain\Model\Forum\Access::TYPE_EDIT_POST],

in

Configuration/TCA/tx_typo3forum_domain_model_forum_access.php

eingefügt und ebenfalls in

locallang_db folgendes nachgetragen habe

        <label index="tx_typo3forum_domain_model_forum_access.operat

[2016-10-06 07:44] pstranghoener commented on #150
@magu81 Please write in english! Thanks!

[2016-10-06 08:37] magu81 commented on #150
@pstranghoener .. done !

[2016-10-07 10:19] bihor commented on #150
As you can see in my templates, I didn´t used the newAttachment-check.
Yes, you are right, I haven´t solved that problem, but when you delete or replace that check in your template, it works. I changed it to newPost, because of this suggestion from above:

mmf:authentication.ifAccess with accessType="newAttachment".
to
mmf:authentication.ifAccess with accessType="newPost". ??

[2016-10-07 11:48] magu81 commented on #150
i already did this:

<mmf:authentication.ifAccess object="{forum}" accessType="newPost">
				<b:form.row llLabel="Topic_New_Attachments">
					<f:if condition="{post.attachments}">
						<f:for each="{post.attachments}" as="attachment">
							<div>
								{attachment.filename},
								<mmf:format.fileSize>{attachment.filesize}</mmf:format.fileSize>
							</div>
						</f:for>
					</f:if>

[2016-10-10 08:58] magu81 commented on #150
its unbelivable - if i create a new topic - i can't create this with attachement(s) ---- BUT if i reEDiT my Post, i'm able to place attachements on it -  and the download of the Attachements working also.

Im not sure what i did wrong!?!?!?

[2016-10-10 09:03] magu81 commented on #150
now im realized the Attachements function whats meant with -  its a nice feature - but what im still looking for is a way to place IMAGES as an Object in my Post and not only as an attachement itself.  i will post TEXT with embeeded IMAGES !!

i'm also wasnt able to use the BBcode Funktion -  theres only the InputForm with no chance to  markup the Text (bold;italic;code;images;smileys etc.pp)

[2016-10-10 09:08] pstranghoener commented on #150
Our Developr will look at the Attachment function in the next weeks that it work correct. But we are not developing anything special functions.

The BBCode Topic is not part of this topic, but here i a small hint did  you create the bbcodes items in the backend?

[2016-10-10 09:20] magu81 commented on #150
@pstranghoener  -did you create the bbcodes items in the backend ?

No i didn't - how to create this stuff , with the forum-extension itself ?

[2016-10-10 09:58] pstranghoener commented on #150
@magu81 Yes u have to create bbcode record in the listview in an folder in the backend... But once again thats the wrong topic.

[2016-10-13 10:05] sxbxstxxn opened #160 "widget "who is online" always shows "no members online""
I know that there are other users online, but it's not working in the widget. All the users have the extende Record type "typo3_forum user" and I choose the correct folder where all the FE Users are stored in the plugin.
Any ideas why it's not working?

[2016-10-20 09:44] sashbash opened #161 "Nesting level to deep in UserController again"
The following error occurs sometimes (not always) when a topic has subscribers.

Nesting level too deep - recursive dependency? in /var/www/html/typo3conf/ext/typo3_forum/Classes/Service/Notification/NotificationService.php on line 110

Solution (same as in bug #52 ) compare uids instead of whole object.

Replace:
`if ($subscriber != $post->getAuthor()) {`

with
`if ($subscriber->getUid() != $post

[2016-10-27 12:00] macjohnny commented on #161
@sashbash we got the same error, too.
thanks for the suggested solution, i will make a pull request for this.

[2016-10-27 12:05] macjohnny commented on #157
related to #147

[2016-10-27 12:07] macjohnny commented on #138
@martin-helmich can you close this?

[2016-10-27 12:08] macjohnny commented on #101
@martin-helmich can you close this?

[2016-10-27 12:09] macjohnny opened #166 "moderation: delete posts"
when deleting a single post of a topic, the topic is deleted instead.

[2016-10-27 12:12] macjohnny commented on #161
@martin-helmich can you merge this?

[2016-10-27 14:43] sventendo opened #167 "Missing Feature: threaded posts"
mm_forum had a feature that supported threaded posts, e.g. commenting on comments. This feature is not part of typo3-forum. Any plans on implementing it?

[2016-10-27 16:11] pstranghoener commented on #167
Until now there ist no plan to implement that. You can do it with quotes or feel free to program that and make a pull request.

[2016-10-27 16:26] #148 closed

[2016-10-27 16:31] pstranghoener commented on #142
@Lobster1956 Please make a pull request for that and we will merke it. Thanks.

[2016-10-28 07:48] macjohnny opened #169 "moderation: delete topics"
how about a confirmation before deleting the topic?

[2016-10-28 07:53] macjohnny commented on #166
sorry, this was due to incorrect postCount, which resulted from deleting posts manually in the backend.

@martin-helmich how about a hook for updating postCount when deleting posts in the backend?

[2016-10-28 15:25] martin-helmich commented on #166
Yeah, these counter columns are prone to inconsistencies. The count should either be guaranteed to update when sth. is changed in the backend, or we should outright prohibit editing/deleting posts in the backend (which would probably suck). @pstranghoener, what's your take on this?

[2016-10-28 15:28] martin-helmich commented on #161
Fixed in #165

[2016-10-28 15:28] #161 closed

[2016-10-28 18:02] #167 closed

[2016-10-28 18:04] pstranghoener commented on #158
Did. you User the Plugin Userfield in Listview Mode to extended the Fields?

[2016-10-28 18:05] pstranghoener commented on #152
Please make a pull request for that. Thanks.

[2016-10-31 09:07] olehkarun commented on #159
After changes and all cash clearing - the same problem
`Core: Exception handler (WEB): Uncaught TYPO3 Exception: #1436527735: access record #13 is of login level type "specific", but has not valid affected user group | Exception thrown in file /opt/typo3-8.3.1-0/apps/typo3/htdocs/typo3conf/ext/typo3_forum/Classes/Domain/Model/Forum/Access.php in line 208. Requested URL: `

[2016-10-31 09:08] pstranghoener commented on #159
@olehkarun Sorry, but the Extension is not ready for TYPO3 8.

[2016-10-31 09:20] olehkarun commented on #159
The same in TYPO3 7.6.11, EXT:typo3_forum	1.0.3

[2016-10-31 09:53] olehkarun commented on #159
@pstranghoener I guess problem in feUsers, feGroups Record type. In mapping i found that you use just own record type
[code]
But it can be problem in project with other functionality for users. For example in my case user can subscribe for newsletters apply Events, create a blog and use the forum. In this case will be better use regular "recordType = 0':
in your TS:
..
[code]
.. and
[code]
after t

[2016-10-31 15:55] #138 closed

[2016-10-31 15:59] macjohnny commented on #160
@kpurrmann please note that `initializeObject()` is not getting called if the repository is injected.
see also https://github.com/mittwald/typo3-forum/pull/168

[2016-10-31 16:16] macjohnny commented on #160
@kpurrmann this is what I also expected. However, at least with TYPO3 6.2 this did not work for in the ajax requests, which is why I had to implement it elsewhere.

[2016-11-01 07:40] kpurrmann commented on #160
@macjohnny I set up several environment and everything seems to work fine. May you could checkout this branch and test it on your own?

[2016-11-01 07:42] macjohnny commented on #160
@kpurrmann it might have been due to the fact that i implemented `initializeObject()` in an xclass of `ForumRepository`. if it works fine for you, i believe you ;-)

[2016-11-02 10:39] bihor commented on #159
TYPO3 8? No, I have TYPO3 7.6.11 and EXT:typo3_forum 1.0.3 too.

Well, with my hotfix I get no error message, but nothing happens.
When I select a user group for "Moderate" or "Delete", it has no effect.
Moderate works only when I select at "Login level" this: "Any login".
The "Delete operation" has no effect at all...

[2016-11-02 11:59] bihor commented on #153
There is another problem: the links in the email are not absolute. The domain is missing in the link.
The links should be generated this way:
$this->uriBuilder->setTargetPageUid($this->settings['pids']['Forum'])->setCreateAbsoluteUri(TRUE)->setArguments($arguments)->build();
or this way:
$this->uriBuilder->setCreateAbsoluteUri(FALSE);
$link = $this->uriBuilder->setTargetPageUid($this->settings['pi

[2016-11-02 15:59] #132 closed

[2016-11-02 15:59] #143 closed

[2016-11-02 15:59] #150 closed

[2016-11-02 15:59] #152 closed

[2016-11-02 15:59] #157 closed

[2016-11-02 15:59] #160 closed

[2016-11-03 06:50] pstranghoener commented on #141
@mavoIn Why are you not able to push it via a pull request? You can send your changes to opensource@mittwald.de ? and we will test it and make a PR. ;)

[2016-11-03 06:57] pstranghoener commented on #93
Hello,

there are now plans to a workflow like this, but feel free to program it and make a pull request for that.

Best Regards Philipp

[2016-11-03 06:59] pstranghoener commented on #151
Hello,

i think that is a very special scenario and for that reason i will close the issue.

Best Regards Philipp

[2016-11-03 06:59] #151 closed

[2016-11-03 08:41] #158 closed

[2016-11-03 15:05] martin-helmich commented on #151
Just a quick thought: Extbase's ORM framework is not that efficient when handling large collections, which might also be the issue here. Maybe there is a way refactor the topic creation to work without loading a forum's entire `topics` collection (perhaps dropping the `$forum->addTopic($topic)` call in `Mittwald\Typo3Forum\Domain\Factory\Forum\TopicFactory`)?

[2016-11-04 07:56] sxbxstxxn opened #181 "Latest Post Widget still shows deleted topics"
If I create a plugin with action "Post List" and Display View "Latest Posts Box" I can see the latest post like it should be. But after deleting some topics these topics are shown in this box with empty "posted in" Link. Just the date and author I can see.

[2016-11-04 13:09] sxbxstxxn opened #182 "Pagination HTML"
I'm searching for the HTML code of the Forum Pagination/ Topic Pagination. The Extension creates the following html code for it:

`<ul class="f3-widget-paginator"><li class="current">1</li></ul>`

But the files in ...Templates\ViewHelpers\Widget\Paginate are showing different code snippets (for example `<li class="disabled">` and starting with `<div class="pagination pagination-right">`) and chang

[2016-11-06 09:06] DavidBruchmann commented on #156
@pstranghoener

When Mittwald published mm_forum, support-forums have been full with it.
If you search in mailinglists or forums now for typo3_forum you find nearly nothing.
It's easy to blame Mittwald for it and perhaps that's not fair. But if I don't mistake they started the project end perhaps expected more support from the community. Now any work seems running too limited to get the attention

[2016-11-06 09:50] DavidBruchmann commented on #156
One thing I still forgot to mention:
Closing unsolved issues never even helps yourself to get the forum sometime stable.

I don't want to blame anyone but I think you @pstranghoener miss some issues with the current state of the forum, no matter if it's depending on a special environment or some faults made by users or something else. Either documentation or code have to be fixed to get more peopl

[2016-11-10 11:24] olehkarun opened #183 "move javascript form mmf:form.bbCodeEditor to page footer"
Due to all javascripts call in footer template list of javascript from typo3_forum required Jquery, which also call in footer. I moved all scripts that found by v:asset but cant do it  for ViewHelper form.bbCodeEditor. Can you help my how reload this view helper to get bbcode scripts in template footer?

[2016-11-12 10:15] infomobi opened #184 "Notifications to forum subscriptions not working"
Is it possible, that notifications to **forum subscriptions** are not yet implemented?
If I subscribe to a forum, I can see the database entry in table tx_typo3forum_domain_model_user_forumsubscription.
But there are no notifications sent on new topics or posts.

Subscriptions on specific topics do work.

Looking into the code, I didn´t find it implemented in NotificationService.php:

`foreach ($t

[2016-11-15 15:03] DavidSporer opened #185 "View not found when creating a Topic"
I have set up typo3-forum as described in the manual and added the TypoScript templates.
I can see the view that is described in the manual when accessing my forum-page in the frontend.
When I try to create a new topic it gives me the error
**"The technical reason is: No template was found. View could not be resolved for action "create" in class "Mittwald\Typo3Forum\Controller\TopicController"."**

[2016-11-15 15:43] cwirsing commented on #151
This is exactly what we discovered. We did a further analysis of that "problem" and we have come to the same conclusion.

As mentioned in my first post, we commented out line 612 of file typo3_forum/Classes/Domain/Model/Forum/Forum.php where $this->topics->attach($topic) is coded... this will prevent the errors we have and we can work with the forum "normally".

By the way: Thanks to Stefan Frömke

[2016-11-16 08:14] velletti commented on #185
I think there is a misconfiguration during one of the steps before the redirect, that throws an exception:

The easiest way to find the content of the exception
create a Template\Topic\Create.html
[code]

then you will get from the layout the flash message with the exception with maybe more infos about the reason ..

[2016-11-17 08:26] DavidSporer commented on #185
Thank you very much!
I found the error, though I'm not quite sure how to solve it yet.
The thing is that I've set up a fe-register page that creates default fe users. If I edit that user and tell the system that it should be typo3_forum_user it works but then the other stuff like editing the profile via the femanager doesn't work anymore.

[2016-11-17 08:30] pstranghoener commented on #185
May it helps if you put that typoscript in the constants

plugin.tx_srfeuserregister_pi1.keepUnselectableUserGroups = uid of usergroup

Best Regards Philipp

[2016-11-17 08:54] DavidSporer commented on #185
No that didn't help.
I assume the issue is that femanager is extending the feuser model as typo3 forum does as well.

[2016-11-17 08:59] DavidSporer commented on #185
$userRepository->findByUid isn't returning the user if I set the typo3_forum_user setting which makes sense since the UserRepository is the one that femanager is using.

[2016-11-23 08:39] AKaravas opened #188 "Bootstrap CSS"
Can you please make Bootstrap CSS optional? Some people don't use Bootstrap and when they try to use the extension, it doesn't work at all.

[2016-11-23 09:01] pstranghoener commented on #188
Hey,

in my opinion its opional, you can choose that in the static templates if want bootstrap.

Best Regards Philipp

[2016-11-23 09:10] AKaravas commented on #188
Well, as you can see here i didn't include bootstrap static template.

[http://image.prntscr.com/image/55a9ea10313d420d81a03a0aae4a9021.png](url)

Frotend

[http://image.prntscr.com/image/57c75d8cdafb4015bea7cb3763954bcf.png](url)

The css and js are removed because i am using foundation, and as a result, the extension doesnt work

[2016-11-23 09:17] pstranghoener commented on #188
If i click on links i get an 404....

[2016-11-23 09:20] AKaravas commented on #188
Now it works

[2016-11-23 09:38] pstranghoener commented on #188
We can do that next year, the rest of the year is blocked for the migration script from mm_forum to typo3_forum.

If you want to have it early you can make a pull request if you want.

Best Regards Philipp

[2016-11-23 20:33] #78 closed

[2016-11-27 09:35] infomobi opened #189 "Latest Posts Box shows threads of forums without permission"
When using latest posts box my users see all latest posts in all forums regardless of the permissions I did set to forums.
That means user A doesn´t have view-permission to a forum, he can see the latest posts in this forum and click on the linked text to see the full thread with all posts.
Is this a bug?

[2016-11-30 09:05] pstranghoener opened #190 "Missing Icons in Backend in 1.0.4"
Wrong Image Path in Version 1.0.4

  Example:   background-image: url('../../typo3/EXT:typo3_forum/Resources/Public/Icons/Forum/Ad.png') !important;

[2016-12-14 11:16] AndreasA opened #191 "1.0.4 composer install fails due to wrong replace"
With 1.0.4 composer.json replace was added.
However, instead of replacing typo3_forum your are replacing typo3-forum which results in the extension being installed to typo3conf/ext/typo3-forum
typo3-ter/typo3-forum, however is correct.

[2017-01-13 13:00] MrP1ff opened #194 "Attachments are not processed when creating a new post."
Hi,

the enctype attribute is missing in the standard template for the new post form:  https://github.com/mittwald/typo3-forum/blob/develop/Resources/Private/Partials/Standard/Post/Form.html

This prevents attachments from being processed properly when creating a new post. This is not an issue in the bootstrap version or in the template for the new topic form.

It is easily fixed by adding `enctyp

[2017-01-20 10:51] vendytjung commented on #142
i try with this:
`Mittwald\Typo3Forum\Domain\Model\User\FrontendUser {
	mapping.recordType >
}
Mittwald\Typo3Forum\Domain\Model\User\FrontendUserGroup {
	mapping.recordType >
}`

Forum still work in Frontend. see any problem?

[2017-01-20 11:03] macjohnny commented on #142
@vendytjung can you explain what you did and what doesn't work?

[2017-01-20 11:16] vendytjung commented on #142
@macjohnny: i have only add the typoscript (see top)

Testing until now:

Work:
- forum overview :heavy_check_mark:
- forum post :heavy_check_mark:
- comment post :heavy_check_mark:
- create post :heavy_check_mark:
- edit post :heavy_check_mark:

doesn't work:
still testing

[2017-01-24 10:25] pstranghoener commented on #142
Could this Issue be closed?

[2017-01-24 10:44] macjohnny commented on #142
@pstranghoener as soon as https://github.com/mittwald/typo3_forum/pull/197 is merged

[2017-01-24 10:47] pstranghoener commented on #142
I think his is an breaking change and could not been merged for now.

[2017-01-24 11:18] vendytjung commented on #142
Yes, it think there ist a breaking change, without DB update tx_extbase_type to NULL, it's a problem

[2017-01-24 11:34] macjohnny commented on #142
@vendytjung can you provide the update script?

[2017-01-25 11:12] vendytjung commented on #142
i can write class.ext_update.php for DB update

[2017-02-07 12:22] vixe76 opened #198 "Smiley text parser makes links unusable"
Maybe it would make sense to prevent the smiley parsing in URLs otherwise all generated links are unusable  because http**:/**/ will be replaced.

The workaround for me was to disable the smiley textparser in generally.

[2017-02-21 07:52] mgrundkoetter commented on #182
Have you tried Google? Found links like
http://blog.teamgeist-medien.de/2014/11/typo3-fluid-viewhelper-templates-ueberschreiben-z-b-vom-paginate-widget.html and https://forge.typo3.org/issues/73207 which may be relevant. The pagination widget is part of the fluid extension itself, as it is a reusable component. So the templates can also be found there (typo3/sysext/fluid/Resources/Private/Template

[2017-02-21 20:16] typo3-solution opened #199 "typo3_forum & TYPO3V8"
Hi there,
i want to install the typo3_forum on a TYPO3V8.5 - Version.
First we have to remove the part 'renderMode="div"' from the file:  typo3_forum/Resources/Private/Layouts/Standard/Default.html.
The Output works, but the "create new topic" - link, doesn't work. I get the following error:
`    Call to a member function evaluateChildNodes() on null

    Error thrown in file
    C:\xampp\htdocs\T

[2017-02-23 12:48] magathmt opened #200 "cant write a new post"
what is wrong when it dont show me the option in the frontend to make a new topic

[2017-02-23 12:52] pstranghoener commented on #200
Hey magathmt,

did you follow the installations step in the manual? https://typo3-forum.readthedocs.io/en/latest/Configuration/Installation/Index.html

It sounds like you dont set the ACLS for the forums

Best Regards Philipp

[2017-02-24 06:58] typo3-solution commented on #200
Or it's TYPO3 in version 8.5 ;) With one Forum you dont get the "make new topic" - Button. With creating the second (childforum) you get an error (see #199)

[2017-02-24 06:59] raven3k commented on #200
maybe i have a similar problem.
I see the "submit" button - but after click, jump to my news page.
http://raven4ever.de/index.php?id=106

@magathmt did you add in the main template the extension template object?

[2017-02-24 07:02] typo3-solution commented on #200
Hi,

you are working with TYPO3 in which version!?

LG - Simon

--
TYPO3-Solution.net
Leutenhofen 12
87448 Waltenhofen

Tel: 0831/2006147
Am 24.02.2017 um 07:59 schrieb Patrick Liersch:

[2017-02-24 07:13] typo3-solution commented on #200
http://raven4ever.de/index.php?id=106&tx_typo3forum_pi1%5Bforum%5D=1&tx_typo3forum_pi1%5Baction%5D=new&tx_typo3forum_pi1%5Bcontroller%5D=Topic&cHash=bddcaa7ac0bf9b600fd501f7fbdecd34
maybe you have a problem in your realURL - config!? ;)

[2017-02-24 07:14] raven3k commented on #200
ok, i will check my realURL configuration

[2017-03-01 06:43] mocsap commented on #185
I have the same problem with my Typo3 6.2.30 instance. Following error appears when I'm trying to create a new post:

Have you found the solution, or the exact reason what needs to be done to get the forum plugin to work?

[2017-03-03 12:31] mocsap commented on #185
Is there any known workaround to this issue?

[2017-03-07 08:11] mocsap commented on #185
I have double checked the installation steps, configuration and everything looks ok. I have also installed the latest typo3_forum release 1.0.4. Unfortunately, still the same error appears.

_Sorry, the requested view was not found.
The technical reason is: No template was found. View could not be resolved for action "create" in class "Mittwald\Typo3Forum\Controller\TopicController"._

Maybe someo

[2017-03-07 08:36] pstranghoener commented on #185
It sound like the templates are not found. Did you made your own templates?

[2017-03-07 09:18] mocsap commented on #185
Hello Philipp, thank you for your response and for this hint!

Yes, I'm using an own template, created in Templavoila. This is a standard template which is used on all my pages also with other extensions. The extension output is placed on the right side. Please note that this error happens at the time of submitting a new forum post. I can see the subforums and write a new forum topic. This error a

[2017-03-14 13:57] christophlehmann opened #201 "Mark topic as solved"
Is there a way to mark a topic as solved via frontend through user/moderator?

[2017-03-18 18:39] linuxdog commented on #194
Hello,
I can't upload any attachments, even by using the bootstrap-post-form with right enctype.
No error, but also no attachment. Nothing new in tx_typo3forum_domain_model_forum_attachment.

Same with new Thread: Everything works, but no attachment.
Attachments that I imported (from the old mm_forum) are shown in the old posts and can be downloaded.

I'm using 1.0.4, where I have to set the ACL f

[2017-03-19 12:59] PeterLeinen opened #202 "Storage Folder for the forum"
Hi all,

I just have installed the typo3_forum on the webpage deauville-meets-deauville.com//index.php?id=196 which seems to work at most.

Among others there is an issue related to the Storage-Folder(s)

I tried hard to separate the storage folder(1) with the definition of the forum, the subforum and the acl-definition from the storage folder(2) for the topics and posts with no success.

I have i

[2017-03-23 08:02] mocsap opened #203 "Topic subscription - Domain name missing in link"
Hi,

I have a problem with a missing domain name in the automatically generated link received in mail from a forum. The current mail structure looks like:

Hallo stat04,

stat02 hat einen Beitrag in dem von dir abonnierten Thema Test stat04 erstellt.
Falls Du keine Benachrichtigungen mehr erhalten möchtest, klicke im Forum auf den Button /mitgliederbereich/mitgliederforum/?tx_typo3forum_pi1%5Btopi

[2017-03-26 10:27] pstranghoener commented on #200
Could this Topic be closed?

[2017-03-26 10:28] pstranghoener commented on #199
The Extension is not v8 compatible at the moment, we will start developing it for v8 until April...

[2017-03-26 10:29] magathmt commented on #200
Philipp Stranghöner <notifications@github.com> schrieb am So. 26. März 2017
um 12:27:

Yes

[2017-03-26 12:02] #200 closed

[2017-03-26 12:03] pstranghoener commented on #182
@sxbxstxxn Could this Issue been closed?

[2017-03-29 07:00] mocsap commented on #203
Any suggestion? I assume that this is a simple configuration parameter.

[2017-04-04 07:58] mojobsb commented on #184
I need this feature too, but haven't tested yet.
Are there any news about this topic? Can users subscribe to a whole forum?

[2017-04-10 08:33] #202 closed

[2017-04-12 08:30] ak1982 opened #206 "I want some Text from the topic in the topic list"
Is that possible?

In the moment I get this view:

http://dev.intranet.erfolg-im-beruf.de/?id=112&tx_typo3forum_pi1[forum]=2&tx_typo3forum_pi1[action]=show&tx_typo3forum_pi1[controller]=Forum&cHash=68739aa5957692f05545601abf0156b3

And now I want the text from the first post on the list side.

Thanks for answering

[2017-04-12 08:33] pstranghoener commented on #206
Hey @ak1982,

if i click on the link i only see an login screen.

Best Regards Philipp

[2017-04-12 10:44] ak1982 commented on #206
Oh yes, sorry. Here a picture
![screen shot 2017-04-12 at 12 44 05](https://cloud.githubusercontent.com/assets/2596915/24953984/bd1481fe-1f7d-11e7-923b-67d371899aef.png)

[2017-04-12 10:45] ak1982 commented on #206
It would be great if there is a chance to put the text also in the list view.
Another little question. Is it possible to unlink the Author and to use the Full name of the author?

Best regards
Andreas

[2017-04-12 10:46] ak1982 opened #207 "Author Name without link and instead of the username the full name"
Hello,

is it possible to unlink the author name and also to show the full name of the author?

Best regards
Andreas

[2017-04-13 09:18] mojobsb commented on #153
TYPO3 7.6.16
typo3_forum 1.0.4
I still have this problem and it seems to be a caching problem:
When I click the subscribe/unsubscribe link it is working the first time. When I click the link again the button doesn't change back. In the DB I can see the subscription (tx_typo3forum_domain_model_user_forumsubscription or tx_typo3forum_domain_model_user_topicsubscription)
When I use "clear system cach

[2017-04-13 12:48] pstranghoener commented on #206
It could be posible than must do it on yout own and put in your own template...

[2017-04-13 12:49] pstranghoener commented on #207
At the moment thats not possible. If you want it you can develop it for and give it back to us via an pull request.

[2017-04-18 18:37] magesticmojo commented on #203
#208

[2017-04-18 18:41] magesticmojo commented on #153
@kpurrmann Can we reopen this issue? I still have this issue as described above.
@bihor Didn't realize you already posted the solution for absolute links in notification mails. I submitted it as merge request here #208

[2017-05-07 09:36] Piperback commented on #184
I tested it today with typo3 7.6.14 and typo3_forum 1.0.4.
Subscription of a topic is working like a charm.
Subscription of a forum doesn't work at all. You don't get any notification for neither new posts nor new topics.

**infomobi** wrote for 6 months that it looks like beeing not implemented at all. I also looked inside code and I have the same opinion. Also for a new topic, there is nohing do

[2017-05-07 19:10] Piperback commented on #184
I spent some time on fixing it. I changed two files and both are inside the following folder: /typo3conf/ext/typo3_forum/Classes/Service/Notification

Here is my recommendation:

1)NotificationService.php
After the following foreach loop:

[code]
please insert the following lines:

[code]
This heals that the forum subscriptions are notified for new posts on existing topics. Users that subscribed t

[2017-05-08 13:42] infomobi commented on #184
Tested and seems to work fine.
Danke, Ralf!

[2017-05-09 04:54] infomobi commented on #184
I found a little problem with your code:
If somone subscribes to a forum and is also subscriber to the parent forum, this person will get two email notifications. if he also subscribed to the topic itself, he gets a third email on every post.
This isn´t that bad, I just wanted to let you know :-)

I´m still happy to have your code.
Thanks again!

[2017-05-09 08:27] Piperback commented on #153
@kpurrmann
Can you please reopen this issue?

If you toggle between subscribe/unsubscribe the behavior is exactly like **magesticmojo** described it.

TYPO3 7.6.14
typo3_forum 1.0.4

[2017-05-09 09:49] pstranghoener commented on #153
I will close that issue again, because the fix its already in the develop branch and we will release a new version in the next couple of days.

[2017-05-09 09:49] #153 closed

[2017-05-09 09:51] pstranghoener commented on #206
Can i close that issue?

[2017-05-09 09:52] pstranghoener commented on #207
That issue is very special could i close that? @ak1982

[2017-05-09 09:53] #4 closed

[2017-05-09 09:54] #2 closed

[2017-05-09 09:55] pstranghoener commented on #92
Its possible with the storagpid you can assign more than one pid seperated with a comma.

[2017-05-09 09:55] #92 closed

[2017-05-09 09:56] #8 closed

[2017-05-09 09:58] #81 closed

[2017-05-26 09:46] #182 closed

[2017-06-02 07:09] pstranghoener commented on #203
Fix in Version 1.1.0 included.

[2017-06-02 07:09] #203 closed

[2017-06-02 07:11] pstranghoener commented on #206
I will close that ticket because of no reaction of the author.

[2017-06-02 07:11] #206 closed

[2017-06-02 07:11] pstranghoener commented on #207
I will close that ticket because of no reaction of the author.

[2017-06-02 07:11] #207 closed

[2017-06-02 07:14] pstranghoener commented on #185
Is this issue still alive or you need help?

[2017-06-02 07:15] pstranghoener commented on #191
The Fix is included in Version 1.1.0

[2017-06-02 07:15] #191 closed

[2017-06-02 07:16] pstranghoener commented on #139
Could this issue be closed?

[2017-06-02 07:17] pstranghoener commented on #142
Could this issue be closed?

[2017-06-02 07:18] pstranghoener commented on #11
The Feature is in version 1.1.0 included

[2017-06-02 07:18] #11 closed

[2017-06-02 07:20] pstranghoener commented on #29
Could this issue be closed?

[2017-06-02 07:20] pstranghoener commented on #50
Could this issue be closed?

[2017-06-02 07:21] pstranghoener commented on #26
Done in first TER Release

[2017-06-02 07:21] #26 closed

[2017-06-02 07:21] macjohnny commented on #142
@pstranghoener I still believe that the record type should be changed as suggested in https://github.com/mittwald/typo3_forum/pull/197, but if you don't want to have that, then you can close this issue.

[2017-06-02 07:21] pstranghoener commented on #27
Done in first TER Release

[2017-06-02 07:21] #27 closed

[2017-06-02 07:22] pstranghoener commented on #40
Done in first TER Release

[2017-06-02 07:22] #40 closed

[2017-06-02 07:22] pstranghoener commented on #54
Done in first TER Release

[2017-06-02 07:22] #54 closed

[2017-06-02 07:25] pstranghoener commented on #142
We don't want to change that for now, maybe in a later release.

[2017-06-02 07:25] #142 closed

[2017-06-02 10:27] sksksksk commented on #185
I just hit this issue. But my problem was that my user didn't have the typo3_forum_user option set in the user editing screen. And as far as I understand, this was the same problem this issue originally was created.

[2017-06-06 19:44] Piperback commented on #184
@infomobi: Thanks for the hint!

I found another problem with my implementation.
After a new topic is created the link inside notification mail does not include UID.
The link looks like " .... &tx_typo3forum_pi1[topic]=&cHash .....".
If the user clicks on the link he gets a NULL reference exception.

The problem is that this extension based on extbase does not automatically read back the created U

[2017-06-21 08:51] kaufi02 commented on #199
Is there already an expected release-date for the v8 version?

[2017-06-21 08:54] pstranghoener commented on #199
@kaufi02 Not at the moment, we are working on it. But it will take a while its not very easy job to do that.

[2017-07-04 10:17] Joe1am commented on #158
As I said, I extended the fields with my custom extension "Feusersextrafields"
I found the solution:
The mapping in my ext_typoscript_setup.txt was wrong

This is the working ext_typoscript_setup.txt
`
config.tx_extbase{
  persistence{
    classes{
      Mittwald\Typo3Forum\Domain\Model\User\FrontendUser {
        subclasses {
          Tx_FeUsersExtraFields_ExtraFields = Feusersextrafields\FeUser

[2017-07-10 12:59] magesticmojo commented on #153
@pstranghoener Sorry to bother you again, but I still have the same issue with typo3_forum 1.1.0 and TYPO3 7.6.20
Can we please reopen this issue?

[2017-07-10 23:32] Chron-O-John opened #222 "typo3_forum installation fails and kills backend on typo3 8.7.3"

[2017-07-11 04:11] #222 closed

[2017-07-13 10:03] mocsap commented on #199
@pstranghoener It will be really great to have it in v8. Thanks for working on this.

[2017-07-13 10:43] typo3-solution commented on #199
yea, @pstranghoener!!! :-* Can't wait! ^^
If you need help, i will help you...

"So gut ich eben kann!" ;)

[2017-07-19 08:13] FG86 commented on #159
Same Problem with Typo3 6.2 and typo3_forum 1.1.0. Is there any Solution for this Issue?

[2017-07-29 15:25] mvnaz opened #223 "form for posting absent"
I use typo3_forum with femanager. And all good but form for posting absent. Where can be a problem ?

[2017-08-01 07:57] pstranghoener commented on #223
Did you set all the ACLs mentioned here? http://typo3-forum.readthedocs.io/en/master/Configuration/Installation/Index.html

[2017-08-01 08:22] mvnaz commented on #223
yes thank you! I solved problem )01.08.2017, 10:57, "Philipp Stranghöner" <notifications@github.com>:Did you set all the ACLs mentioned here? http://typo3-forum.readthedocs.io/en/master/Configuration/Installation/Index.html

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-01 08:35] #223 closed

[2017-08-02 09:45] Idleworks commented on #102
This problem occurs only sometimes in my syslog. The requested URL is eID=typo3_forum&tx_typo3forum_ajax%5Bformat%5D=json&tx_typo3forum_ajax%5Baction%5D=main&tx_typo3forum_ajax%5Bcontroller%5D=Ajax&cHash=XXX

TYPO3 then doesn't respect table mappings set in typoscript. weird...

[2017-08-05 12:05] bdsuev commented on #184
Thanks a lot for this @Piperback ! It is unfortunate that this extension is still so incomplete after all this time, when the predecessor mm_forum already had all these features.

Would you mind making a pull request so it is included for all users in future versions?

[2017-08-17 09:22] Sniks6 opened #227 "Problem downloading attachments with IE and Firefox"
Hi everyone,

when downloading attached files with Firefox or Internet Explorer, the browser says always the file type would be "html". But in fact it is e.g. a pdf file.

![forumerror001](https://user-images.githubusercontent.com/12664579/29404946-c69602a2-833c-11e7-8a3d-0a55337f552f.jpg)

If I download the file, it is much smaller than the original one. And of course it cannot be opened.

The th

[2017-08-28 06:18] Sniks6 commented on #227
Has anybody similar problems?
Or is there anybody who could give me a hint where to search?
What could be the problem?

Thank you very much in advance.

Alex

[2017-08-31 09:04] MacGyer opened #228 "Division by zero in Topic::getPageCount()"
Situation: Upgraded from mm_forum to typo3_forum.

The following error occurs when "Last Post" (topic list) or User details -> Latest Posts -> Last Posts is called:

`
#1: PHP Warning: Division by zero in /var/www/dhg/web/typo3conf/ext/typo3_forum/Classes/Domain/Model/Forum/Topic.php line 308
`

Debugging showed that `$this->settings` is not populated in Getter:
https://github.com/mittwald/typo3_f

[2017-08-31 19:13] MacGyer commented on #228
Just for confirmation: The error above occurs on a fresh Typo3 installation with freshly installed forum extension.

Furthermore `$this->settings` is null in this line too:
https://github.com/mittwald/typo3_forum/blob/develop/Classes/Domain/Model/User/FrontendUser.php#L603

This leads to always showing the default avatar image.

System: Typo3 7.6.21

[2017-09-01 22:10] typo3-solution commented on #199
@pstranghoener
Hey Philipp,
thanks for your work, your time, and your skills!
Do you have any news for us?! :) What do you think about the release of the "typo3_forum" for TYPO3V8?

[2017-09-05 13:02] mwaldheim opened #229 "Fatal error when opening post on typo3_forum 1.1.0 and typo3 7.6.14"
Hello,
I have the typo3_forum extension installed on my homepage. We installed the plugin with this manual: http://typo3-forum.readthedocs.io/en/master/KnownProblems/Index.html

We have set up everything exactly according to the above instructions and urgently need a solution.

BUT now we have a fatal error

![image](https://user-images.githubusercontent.com/31657644/30062345-23333e5e-924b-11e7-91

[2017-09-05 13:12] pstranghoener commented on #229
Hey,

which PHP Version are you using?

Best Regards Philipp

[2017-09-05 13:18] mwaldheim commented on #229
Hey,

i used PHP-Version 5.5.38

Best Markus Waldheim

[2017-09-05 13:22] velletti commented on #229
maybe an issue with the field extbase_type in table "fe_users"  ?

until the logged in Frontend user isn´t from type
tx_extbase_type = Mittwald\Typo3Forum\Domain\Model\User\FrontendUser

i also got this issue (in one of the first forums versions)

[2017-09-06 06:20] mwaldheim commented on #229
Where can I set this? With us, the users are retrieved by our server via REST-API and temporarily stored in TYPO3. Could that be a problem?

Looking forward to a brief explanation.

[2017-09-06 06:30] pstranghoener commented on #229
Hey,

if you had read the entire manual as you said, you found that point. The user and the usergroup must have the Record Type “typo3_fourm user” and “typo3_forum group”. You must define it in the Extend Tab in the user or usergroup record.

http://typo3-forum.readthedocs.io/en/master/Configuration/RegisterandLogin/Index.html

Best Regards Philipp

[2017-09-06 06:32] velletti commented on #229
As philip 2 seconds ago wrote ..

If you have a look at the typoscript Setup.txt in Configuration folder, you will see that in Case of using extension sf_register, the field "tx_extbase_type " is automaticalle prefilled with this value :
"Mittwald\Typo3Forum\Domain\Model\User\FrontendUser"

so if you get you User via REST, and store it to the DB (like we also do it) just set this value during the

[2017-09-06 06:46] pstranghoener commented on #199
@typo3-solution

Hey Simon,
sorry to say but not new information on that topic. Currently we are working on a solutions to perform updates continuously and than this is the first topic.

Best Regards Philipp

[2017-09-06 07:14] mwaldheim commented on #229
okay, if I do it now as in the manual, my mistake is gone. Instead of the old error comes a new one:

![image](https://user-images.githubusercontent.com/31657644/30098799-c194e79e-92e3-11e7-8a07-dc439ff73273.png)

I have assigned to the user manually under Extended the Usergroup "typo3_forum group". Here is my PHP script, which creates the user. What would be the parameter for the user's array to

[2017-09-06 07:29] pstranghoener commented on #229
As @velletti already said in the post before the tx_extbase_type must have the value Mittwald\Typo3Forum\Domain\Model\User\FrontendUser

[2017-09-06 09:06] velletti commented on #229
addthis to the newUserInDb Array

'usergroup' => "Mittwald\\Typo3Forum\\Domain\\Model\\User\\FrontendUser" ,

(i think you have to mask the "\" sign with another "\" )

and to your new Error:
your Usergroup 1 must be  extbase_type  ypo3_forum group

[2017-09-06 14:30] pstranghoener commented on #229
Could we close this? @mwaldheim

[2017-09-06 15:16] mwaldheim commented on #229
I think we have it. But i must fix it with my development chef. But thanks for ur help.

[2017-09-06 15:17] #229 closed

[2017-09-13 16:31] sashbash commented on #227
I think the problem is located in:
Classes/Controller/PostController.php

function downloadAttachmentAction

should end with
readfile($attachment->getAbsoluteFilename());
die();

Otherwise, the resulting file after the download has the HTML source code of the page attached to its end. This will likely cause problems when you try to open such broken binary files.

Fixed it for my project. Hope it h

[2017-09-13 16:45] sashbash opened #230 "downloadAttachmentAction corrupts files on download"
Classes/Controller/PostController.php

function downloadAttachmentAction

should end with
readfile($attachment->getAbsoluteFilename());
die();

Otherwise, the resulting file after the download has HTML source code of the page attached to its end. This will likely cause problems when you try to open such broken binary files.

Note:
Some binary formats do still work even if there is unwanted HTML an

[2017-09-14 06:49] mwaldheim commented on #229
I have a new Problem.

After i fixed the Usergroups and tx_extbase_type, i logged in with the dummy and click on a forum theme and become a new error. Can u tell me, what is wrong?

![image](https://user-images.githubusercontent.com/31657644/30415709-90c6c1fe-9929-11e7-89b3-b810f648c88b.png)

[2017-09-14 06:50] mwaldheim opened #231 "Fatal error when opening post on typo3_forum 1.1.0 and typo3 7.6.14"
I have a new Problem.

After i fixed the Usergroups and tx_extbase_type, i logged in with the dummy and click on a forum theme and become a new error. Can u tell me, what is wrong?

![image](https://user-images.githubusercontent.com/31657644/30415744-af940146-9929-11e7-88c4-2581aefe181a.png)

[2017-09-14 06:58] #231 closed

[2017-09-14 13:29] julianwinkel commented on #228
We have the same error here.
While creating a new post, the magic function `$this->injectSettings()` in the class Mittwald\Typo3Forum\Domain\Model\Forum\Topic is not called and `$this->settings` is null.

![-users-julian-desktop-typo3 20exception htm](https://user-images.githubusercontent.com/11630948/30431832-2623d8be-9960-11e7-931c-e9b021acc87c.png)

[2017-09-14 13:39] bi11n3r commented on #228
We experience the same error. `settings` are not loaded in the topics model. It would be great if somebody of the team could have a look?

[2017-09-14 14:41] Sniks6 commented on #227
Thank you very much for your help! That was exactly the point.

Now it works like a charm!

Mittwald, you should take this change into TYPO3 extension repositor. Otherwise the file download doesn't work!

Thanks @sashbash!

Kind regards,
Alex

[2017-09-14 14:42] Sniks6 commented on #230
Perfect @sashbash!

Works well now!

Regards,
Alex

[2017-09-14 18:26] sashbash commented on #230
Found a little drawback.
Since we end with die();
The download counter will remain unchanged.

To enforce persistence i've added two lines. See below:

[code]
Works fine. If there is a better way, please let me know.

[2017-09-15 13:27] itribe commented on #228
Solution:
1) https://monosnap.com/file/V9XsGLCk495YZRAUK8WhNWjxfqTBnX
2) https://monosnap.com/file/gWiGpy5PM5KbtzPLVdfpaVZ1VzSli1

[2017-09-26 11:11] bi11n3r commented on #228
Great - thank you. It would be nice to integrate this fix in the extension since XClassing or changing the source is not a very elegant and permanent solution. Any plans to include this update?

[2017-09-26 11:35] mocsap commented on #207
Is there any simple way to change the post authors from username into full names with first and lastname? It is really confusing with the usernames.

[2017-09-26 11:47] velletti commented on #207
1. Removing the link should be easy : remove typoscript setup  for

plugin.tx_typo3forum.settingspids.UserShow = 0  # any non existing page

2. Changing Username to First _ Lastname should be done in Template

https://github.com/mittwald/typo3_forum/blob/develop/Resources/Private/Partials/Standard/User/InformationRow.html

Overwrite that template and change code to something like {user.firstname}

[2017-09-27 09:16] mocsap commented on #207
Thank you for this valuable hint. I was able to change some templates using your suggestion. And it works! Hovewer your hint could not be applied for the topic author field. The author field is delivered from the _topic.author_ which probably is delivered from the typo3 users table. Nevertheless thanks for your post, it helped me a lot to understand the code structure.

[2017-09-27 10:54] velletti commented on #207
I have also a partial called Ajax/PostSummery containg the username and link to the user

[2017-09-27 12:57] mocsap commented on #207
Well, I'm not a Typo3 developer. Could you explain this, please?

[2017-10-06 13:53] iunctim commented on #153
This issue still exists (also in the 1.0-dev version), we've tried everything to fix it, but nothing works. When will the fixed version be released?

[2017-10-06 14:18] julianwinkel commented on #153
I think it is a cache problem with the ifViewHelper (mmf:user.ifSubscribed) used in .../Ajax/TopicListMenu.html and ForumMenu.html

As Workaround we use a simple ViewHelper that return a boolean value. It works for us.

IfSubscribedViewHelper.php
[code]

.../Resources/Private/Templates/Bootstrap/Ajax/TopicListMenu.html
[code]

[2017-10-06 15:17] iunctim commented on #153
That actually did the trick, we had to change one line in your template snippet to make it work:
< 	<f:if condition="{nr:**forum**.ifSubscribed(object: '{topic.subscribers}')}">

Thanks a lot and have a nice weekend!

[2017-10-06 15:46] julianwinkel commented on #153
Cool :). Yes we put the file in another subfolder like "Viewhelpers/Forum/IfSubscribedViewHelper.php".

[2017-10-10 14:50] typo3-solution commented on #199
Hey Philipp,
i will report all my Changes, für the TYPO3V8. I hope, it will help you! (or someone else?)
**Resources\Private\Layouts\Standard:**
`_<f:flashMessages renderMode="div"/>_
<f:flashMessages as="div"/>`

**Resources\Private\Layouts\Bootstrap:**
`_<f:flashMessages renderMode="div"/>_
<f:flashMessages as="div"/>`

Replace TYPO3\CMS\Fluid\ViewHelpers with TYPO3Fluid\Fluid\ViewHelpers. For e

[2017-10-11 07:34] typo3-solution commented on #199
Still having following Problem:
Found this function in the Viewhelper:
`/**
 * @return CObjectViewHelper
 */
protected function getCObjectViewHelper()
{
        return $this->objectManager->get('TYPO3\\CMS\\Fluid\\ViewHelpers\\CObjectViewHelper');
}`

Returns this Error:
Call to a member function evaluateChildNodes() on null
Error thrown in file
**/**/vendor/typo3fluid/fluid/src/Core/ViewHelper/Ab

[2017-10-17 10:59] verdure-peuser commented on #199
We already started the upgrade on our own. a pull request with wip is here #232

[2017-10-19 14:59] bdsuev commented on #184
I found another issue: The marker ###FORUM_NAME### is set wrong (l. 118 in NotifactionService.php).

Instead of
`'###FORUM_NAME###' => $this->settings['mailing']['sender']['name']`
it should be
`'###FORUM_NAME###' => $post->getForum()->getTitle()`

[2017-10-30 09:28] macjohnny commented on #166
@martin-helmich @pstranghoener ping

[2017-10-30 14:58] typo3-solution opened #235 "[url=www.mittwald.de]tolles forum[/url]"
Hey everyone,
in the old version, you where able to set links like above. In the new version, the output is wrong/missing :-(
How must i change this line / add a new line:
$ret = preg_replace_callback('#([\s>])([\w]+?://[\w\\x80-\\xff\#$%&~/.\-;:=,?@\[\]+]*)#is', [&$this, 'makeUrlClickable'], $ret);
to get it right!?

[2017-11-01 10:38] heikohaensge opened #236 "main forum authorisation error after migration from mm_forum"
After upgrading from Typo3 6.2 to 7.6 I followed the migration manual at
https://www.mittwald.de/blog/cms/typo3-cms/migrator-macht-aus-mm-forum-ganz-einfach-typo3-forum

The main/top forum creates a frontend error:

although in the ACLs there is no restrictions concerning READ rights.

Any sub forum can be viewed without errors though. All users and user groups have the requested data type.
Any he

[2017-11-07 07:29] mgrundkoetter opened #237 "PHP7 Compatibility error"
When using PHP7, the moderation plugin causes this error:

#1289386765: Could not analyse class: "Mittwald\Typo3Forum\ViewHelpers\Moderation\ReportIconViewHelper" maybe not loaded or no autoloader? PHP Warning: Declaration of Mittwald\Typo3Forum\ViewHelpers\Moderation\ReportIconViewHelper::render(Mittwald\Typo3Forum\Domain\Model\Moderation\Report $report = NULL, $width = NULL, $alt = '') should be

[2017-11-07 10:15] mgrundkoetter opened #238 "Inconsistent reports after removing a post"
Right now, there are signals for:

- postCreated
- postUpdated
- postUpdated (when deleted, maybe the name is not so good?)
- reportCreated
- topicDisplayed
- topicCreated

So to be consistent, it would be nice to also have signals for:
- topicUpdated
- topicDeleted
- forumDeleted

The "deleted" events are kind of necessary in my eyes as created reports are not removed automatically right now. So

[2017-11-13 14:51] AMartinNo1 commented on #184
Thanks. It has helped a lot. Not sure if I mixed sth. up in the above description. Yet I had the issue that the same template has been used for both, new posts and new topics. So, in addition to above description I was in need of overriding the var `$messageTemplate` as well as the variable `$subject`.

Based on your solutions I have created a more complete script set:
- In my templates I am using

[2017-11-14 17:34] mgrundkoetter opened #239 "Wrong language label"
In the typo3conf/ext/typo3_forum/Resources/Private/Language/locallang_db.xml on line 93, there is this:
`<label index="tx_typo3forum_domain_model_forum_tag.feuser">Topic Count</label>`
which is wrong obviously, as it should read "Frontend users" or something.

[2017-11-21 09:14] heikohaensge commented on #236
@pstranghoener: No response in weeks... Anybody here for support?

[2017-11-21 09:17] heikohaensge commented on #235
Oh yes, this would be nice to have, especially after migrating from mm_forum, so all the former link entries are parsed correctly again.

[2017-11-24 10:11] heikohaensge commented on #236
Meanwhile I found out, that while migrating mm_forum to typo3_forum some of the 'access rights' are migrated incorrectly. To be more precise, some subforums had after migration two access right entries of type 'READ', one of them was correct and one had no user group assigned, but was of login level type "specific" where a user group is needed.

Solution: delete all additionally created second acc

[2017-11-24 10:11] #236 closed

[2017-11-24 10:11] heikohaensge commented on #235
@pstranghoener : No response in weeks... Anybody here for support?

[2017-11-29 18:11] heikohaensge opened #240 "Read access rights are not respected"
After migration from mm_forum we confront some read access issues.

All our sub-forums have read access restrictions for specific user groups only by ACL.
In the list of sub-forums in frontend **ALL** sub-forums are listed, even those not accessable for the frontend user according to their user group settings. At least the sub-forums which should be not accessable have the icon with the lock symbo

[2017-12-07 09:36] heikohaensge commented on #240
Nobody any idea or hint?
This issue tracker seems to be orphaned...

[2017-12-13 09:48] moger-xx opened #241 "Notifications - Bugfixes and Features to be merged"
Hi,

we've done several Bugfixes and created some features concerning notifications on new posts. For example:
- unsubscribe from forum emails with one klick without login, user identity verified by hash mechanism
- differentiation between messages due to subscribed parent forums and self
- bugfix: multiple e-mails when forum and parent forum is subscribed
- fixed cached output of subscribe button

[2017-12-13 10:22] pstranghoener commented on #241
Please make an PR, we will check it and merge it than!

Thanks for the work

[2017-12-15 14:41] vdespa commented on #185
Thanks @sksksksk

![screen shot 2017-12-15 at 15 40 41](https://user-images.githubusercontent.com/1197635/34046778-71cd21c6-e1ae-11e7-8521-bea8d7447c29.png)

[2018-01-05 11:02] #237 closed

[2018-01-05 11:04] kpurrmann commented on #227
FIxed in #234

[2018-01-05 11:04] #227 closed

[2018-01-05 12:03] #194 closed

[2018-01-05 12:05] #91 closed

[2018-01-05 12:08] #100 closed

[2018-01-05 12:12] #84 closed

[2018-01-05 12:12] kpurrmann commented on #84
#216

[2018-01-05 12:14] #64 closed

[2018-01-05 12:16] #102 closed

[2018-01-05 12:17] #101 closed

[2018-01-05 12:20] kpurrmann commented on #136
Extension is shipped with Bootstrap3 templates which are responsive.
We will not provide any further templating work.

[2018-01-05 12:20] #136 closed

[2018-01-05 12:21] #139 closed

[2018-01-05 12:21] #141 closed

[2018-01-05 13:45] kpurrmann commented on #181
Cannot reproduce in 1.1.0

[2018-01-05 13:45] #181 closed

[2018-01-05 13:52] #185 closed

[2018-01-05 14:03] Gregor-Agnes commented on #199
Is there any progress on this? We have to update a very huge site with some forum and calendars and news and and and :) running under 6.2 ELTS
Since it is a big effort, we would like to update to 8.7. typo3_forum is the only extension, which prevents us from doing so.
It would be very helpful to know, if the update is coming or not and, if possible, the approximate date.
Is that possible?

Btw: th

[2018-01-05 14:06] kpurrmann commented on #199
Hopefully we will release a stable release for TYPO3 8LTS this January.
First of all we want to get through older bugs and then start working on V8.

[2018-01-05 14:07] #190 closed

[2018-01-05 14:12] kpurrmann commented on #228
Resolved in #216

[2018-01-05 14:12] #228 closed

[2018-01-05 14:13] kpurrmann commented on #230
Resolved #234

[2018-01-05 14:13] #230 closed

[2018-01-05 14:15] #239 closed

[2018-01-12 06:39] kpurrmann commented on #199
#232

[2018-01-12 06:39] #199 closed

[2018-01-12 07:19] kpurrmann commented on #235
You could do it on your own if you add following text parsing component:
BBCode Wrap: [url=][/url]
Regular Expression: /\[url=(.*)\](.*)\[\/url\]/
Replacement Pattern: <a href="$1">$2</a>

[2018-01-12 08:39] #198 closed

[2018-01-12 13:48] #235 closed

[2018-01-12 13:59] #87 closed

[2018-01-13 23:31] mocsap opened #243 "Wrong links - Page not found"
Hi,

I have a problem with saving links in the forum posts. All links are submitted in the text form starting either with http or https. Unfortunately all submitted links are displayed in the following form;

`https://www.webpage.de/https%3Ci%20class=`
with an information:

[code]

What can be the reason, that the links are wrongly displayed?

[2018-01-14 07:20] kpurrmann commented on #243
Duplicate of #198.
Fixed in develop. May you hide confused smiley in backend.

[2018-01-16 08:51] MacGyer opened #244 "Display Topic read count"
Hello,

how can I display the counter of how many people read the topic in the topics list?

Thanks for getting back,

Cheers

[2018-01-17 08:48] heikohaensge commented on #29
Is this issue related to the issue #290?
There we have the same situation that groups have subgroups and the Authentication doesn't seem to work as expected.

[2018-01-23 15:22] noli0me0tangere opened #245 "post_count and topic_count on Forum"
When a topic is deleted, the topic_count and post_count in table  tx_typo3forum_domain_model_forum_forum are not updated, resulting in wrong counting on forum startpage.

To solve, add in Classes\Domain\Factory\Forum\TopicFactory.php after Line 140:
`$this->forumRepository->update($forum);`

[2018-01-29 11:45] heikohaensge commented on #240
8 weeks and no reponse...

[2018-02-16 09:00] mrwhy-orig opened #247 "[DOC][Question] Select a Subforum as entry point"
We migrated a mm_forum to the typo3_forum. Until now it worked out all fine. But is it possible to select another entry point by now? At the moment we have "Forum" -> "SubForum1" -> X Other Subforums. The Plugin shows the Children of "Forum" which is just "SubForum1". I'd like to start with "SubForum1".

[2018-03-06 12:46] BastianBalthasarBux commented on #199
Any news on that? ATM the extension still remains as marked compatible for 6.2x to 7.x, here on git as well as on TER.

[2018-03-06 13:12] pstranghoener commented on #199
No any news on that, we are not allowed to upload a new version.

[2018-03-06 14:43] BastianBalthasarBux commented on #199
:-(

[2018-03-06 14:48] Gregor-Agnes commented on #199
Hm, what does that mean?
Why are you not allowed to upload a new version? And by whom?
Is typo3_forum dead?

[2018-03-06 15:26] pstranghoener commented on #199
Its not dead any we have a version for 8 but we are no allowed to pulish it by now.
W ecan not say anything more to that. Sorry!

[2018-03-08 07:54] mrwhy-orig opened #248 "Migration from mm_forum -> no Topic order."
The script is missing the last_post_crdate update. This leads to an unordered topic list, because the show action of the ForumController uses findForIndex function from the TopicRepository which ordering is last_post_crdate DESC.

[2018-03-13 12:08] danielmacht opened #249 "tx_typo3forum_domain_model_user_frontendusergroup' doesn't exist"
Hi,
after downloading typo3_forum 1.1.0 to a fresh installation of typo3 7.6.24 (running on XAMPP/PHP 7.2.1/Apache 2.4.29/MySQL 10.1.30 MariaDB) and following the installation instructions [here](http://typo3-forum.readthedocs.io/en/master/Configuration/Installation/Index.html) I encounter the following error : _Oops, an error occurred! Code: 2018031312495232fd9c7f_

please find the complete error

[2018-03-13 12:29] pstranghoener commented on #249
Did you follow the installtion documentation? http://typo3-forum.readthedocs.io/en/master/Configuration/Installation/Index.html

Looks like your FE Users havent the typo3_forum rights.

[2018-03-13 14:12] danielmacht commented on #249
Yes, as i mentioned above, i followed the installation documentation all the way through. The error also exists after reinstalling the extension using the extension manager.

It seemes that the table wasn't created during the extension installation. Based on this assumption I checked the _ext_tables.sql_ file which is located in _typo3conf/ext/typo3_forum/_ and there is no _CREATE TABLE_ statement

[2018-03-13 14:18] pstranghoener commented on #249
Are you making a migration from mm_forum to typo3_forum? Otherwise there are no migration steps for the users. You can set that in the user settings and user group settings. As it mentioned in the Documentation.

[2018-03-13 14:24] danielmacht commented on #249
ok. maybe i missunderstood the update script function. There is no migration from mm_forum. Its a clean, fresh new installation of typo3.

[2018-03-13 14:26] pstranghoener commented on #249
Than you have to set it manually. Issue can be closed?

[2018-03-13 14:31] danielmacht commented on #249
if u can provide me the nessesary information like field names, datatypes and lenght i can create the missing table _tx_typo3forum_domain_model_user_frontendusergroup_ manually.

[2018-03-13 14:34] pstranghoener commented on #249
Why should i do that? I dont know your installation. You can do it in the Backend by all existing FE User. Is is not a support desk for personal installation problems.

[2018-03-13 14:34] #249 closed

[2018-03-13 14:36] danielmacht commented on #249
because its your extension!

[2018-03-13 15:00] velletti commented on #249
Step ONE
Include the Static template
there is a mapping for
tx_typo3forum_domain_model_user_frontendusergroup to the TYPO3 Default table fe_groups

So you do not need taht tx_typo3forum_domain_model_user_frontendusergroup table !

Read the Documentation about the 2 needed user Groups: Forum user and Forum Admin ( it is the page [Register and login ](http://typo3-forum.readthedocs.io/en/master/Conf

[2018-03-15 12:03] kaialt opened #250 "Subscription and Readstatus"
I don't get it solved:

1. Forums are always marked as "new". Read Topics works.
2. Subscription to Forum doesn't work. It seams that the relation in tx_typo3forum_domain_model_user_forumsubscription is insert correctly, but no mail will be sent.
3. Subscripe or unsubscripe to Topics  is only working with the solution in closed issues #107.

Any hints for me? Someboby else who have the same proble

[2018-04-05 17:35] sigma67 commented on #250
As for 2, the mail sending part is not implemented. You'll have to use code from open issue #184 .

[2018-04-10 15:36] pkerling commented on #248
`UPDATE tx_typo3forum_domain_model_forum_topic SET last_post_crdate = (SELECT crdate FROM tx_typo3forum_domain_model_forum_post WHERE uid = last_post)` should fix it

[2018-05-08 15:19] mgrundkoetter commented on #250
I have the same issue with the subscription status. Problem there is, the `` inherits from the fluid base `IfViewHelper`. So either `render()` AND `renderStatic()` have to be implemented (which is not done in all those helpers in typo3_forum) OR instead of overwriting the `render()` method, just the static `evaluateCondition()` has to be overwritten.
Description also on https://stackoverflow.com/q

[2018-05-16 08:12] AlexSanFa opened #251 "TextParser und PaginateController - Fehler"
Sehr geehrte Damen und Herren,

Ich setze eine TYPO3-Website (7.6.26) mit der Extension typo3_forum (1.1.0) um. Das ist eine schöne Extension mit vielen Funktion - vielen Dank für die großartige Arbeit!

Allerdings habe ich ein kleines Problem, dass ich nicht lokalisieren und beheben kann. Beim Absenden einer neuen Antwort zu einem Thema im Forum kommt eine Fehlermeldung: 'Validation failed while

[2018-05-18 10:05] mgrundkoetter commented on #245
I had to make the same fix because the lastTopic and lastPost fields are also wrong if the latest topic is deleted. This makes then crash the frontend with an extbase validation error due to unreachable object references. This is a major issue and the fix stated above solves it easily!

[2018-05-23 09:27] mrwhy-orig opened #252 "PDF Attachments are useless at download"
PDF Attachments are broken at the time of downloading. If get the attachment via ftp and add the file identifier (.pdf) the PDF is working. But if I download them from the Forum they are broken.

[2018-05-29 15:48] DERmadijn opened #253 "No User Lists are created"
My main problem seems to be that no user lists are created, either through the plugin "typo3_forum" or via the "typo3_forum widgets".

My own investigations lead me there:
- In the "Partial / Standard / User / List.html" <f: widget.paginate> is applied to an empty object {dataset.users}.
- "$ dataset ['users']" in UserController.php is passed empty.
- The problem may lie in the "function findByFil

[2018-05-31 14:01] mgrundkoetter opened #254 "checkAccess in Forum has no default return value"
I have a constellation of ACL/Forum where the `checkAccess` method in `Classes/Domain/Model/Forum/Forum.php` finally returns null (because no return statement is reached). This leads to being able to do everything in frontend if you are anonymous user. Simple fix for this is to just add
`return false;` as last line in the mentioned method. This translates to: you are allowed to do nothing by defau

[2018-07-14 07:57] sigma67 commented on #252
Are you using the latest version? The issue should be fixed since 1f7b0fa750c421f3a4e6ec21e5d5bf7504980c1b

[2018-07-24 11:18] mvolland commented on #250
I have the same problem. Any solution for this?

[2018-07-25 11:17] ibpdd opened #255 "Migration Attachments?"
Hi,

wie funktioniert die Migration von Angängen ins typo3_forum?
Ich habe das Migrationsscript durchlaufen lassen und es werden auch die Datensätze für die Anhänge gespeichert.
Danach habe ich den Inhalt von uploads/tx_mmforum nach uploads/tx_typo3forum/attachments kopiert, aber leider werden diese bei den dazugehörigen Beitrag nicht angezeigt.
Was habe ich falsch gemacht?

Viele Grüße

[2018-08-17 07:24] beath opened #256 "[FEATURE] Compatibility with TYPO3 8.7 LTS"
Is there a plan to make the extension work for 8.7?

[2018-08-17 07:31] pstranghoener commented on #256
We have a Version for TYPO3 8.7 but we are not allowed to publish it. Sorry but we can't say anything more to it.

[2018-08-17 07:31] #256 closed

[2018-08-20 08:38] mrwhy-orig commented on #252
Yes, i used the latest version. Anyway i applied the patch in the code now and it seems to work.

[2018-08-20 08:43] mrwhy-orig commented on #252
Nope... not working. Still problems with PDF. Other files are working fine.

[2018-08-30 07:45] #255 closed

[2018-08-30 07:58] ibpdd opened #258 "Performance"
Hallo,
ich bin gerade dabei von mm_forum auf das typo3_forum umzusteigen.
Dazu habe ich das mitgelieferte Migrationsscript ausgeführt um die 44525 Posts (10335 Topics) zu übertragen. Dieses hat auch erstmal alles funktioniert.
Wenn ich aber jetzt ein neues Thema eröffnen möchte und auf "Thema erstellen" klicke, lädt er ca. 27sek. um das Thema anzulegen :(
Wenn ich wiederum alle Datensätze lösche u

[2018-09-05 07:28] velletti commented on #258
nachdem im 👍
https://github.com/mittwald/typo3_forum/blob/develop/Classes/Domain/Factory/Forum/TopicFactory.php

in
public function createTopic
zeile 121:
		$this->topicRepository->add($topic);
enthalten ist, braucht man den Attach()  im Modell gar nicht.

wir haben ein mm_forum mit ca 200.000 posts in 8 Sprachen un das create Topic geht in 2 sec.

siehe den Kommentar der bei uns im Quelltext steh

[2018-09-05 11:31] ibpdd commented on #258
Danke es hat funktioniert .)
Vielen dank

[2018-09-05 11:31] #258 closed

[2018-09-18 14:54] Sa-Lat opened #259 "The action "reportShow" (controller "Moderation") is not allowed by this plugin"
Hi there,
in template files
`typo3conf/ext/typo3_forum/Resources/Private/Templates/Standard/Moderation/IndexReport.html`
(both standard and bootstrap)

there's a f:link.action to action 'reportShow' but this one does not exist.

`<f:link.action action="reportShow" arguments="{report: report}">{report.topic.subject}</f:link.action>`

Maybe it should be a link to action 'editReport'?

Cheers

[2018-09-18 15:48] sigma67 commented on #256
If there will be no TYPO3 8 version, are there plans to publish an open-source version for TYPO3 9 once the LTS version is published?

[2018-10-02 07:18] ibpdd opened #260 "The action "show" (controller "User") is not allowed by this plugin. Please check"
Hallo,

ich bekomme oben genannte Fehlermeldung wenn ich im Forum ein Profil des Benutzers ansehen möchte.
Im Typoscript- Setup habe ich bei settings.pids.UserShow die Id der Seite angegeben, wo ich das Plugin "typo3_forum" mit der Action "User Profile" eingebunden habe.

Was ist dort falsch?

[2018-10-04 13:38] w0nk1 commented on #199
Srsly!? Any further information? Why would you hold back a functional extension? I don't get it?

[2018-10-04 13:41] pstranghoener commented on #199
I repeat my last sentence with a short addition:
We are not allowed to say anything more to that!

[2018-10-04 13:50] typo3-solution commented on #199
TYPO3 - inspiring people to share...

[2018-10-04 13:52] pstranghoener commented on #199
We know that, but that are not our Guidlines!

[2018-12-03 10:02] #260 closed

[2018-12-03 10:50] ibpdd opened #261 "Topicsubscription Button wird erst nach System-Cache leeren aktualisiert"
Hallo,

wenn man im Topic auf "Abonnieren" klickt, verändert sich der Button erst auf "nicht mehr abonnieren"  wenn der System- Cache geleert wird.

Wie ändert man das?

Grüße Philipp

[2019-01-08 13:37] vixe76 opened #262 "TYPO3 v8 compatibility"
Any news on that?

[2019-01-16 11:22] Locke80 commented on #261
Ich hatte das gleiche Problem und habe es dann umgeschrieben.

From b7a6de5c50bbd67ca38063c82b3b3936e020d232 Mon Sep 17 00:00:00 2001
From: Severin Breitkopf <s.breitkopf@rmh.de>
Date: Sun, 6 Jan 2019 23:22:26 +0100
Subject: [PATCH] fix: subscribe and unsubscribe button state

---
 .../Classes/Controller/AbstractController.php      | 15 ++++++++--
 .../ViewHelpers/User/IfSubscribedViewHelper.php

[2019-01-29 08:38] DavidBruchmann commented on #240
DId you try version 1.1.1?
https://typo3.org/extensions/repository/download/typo3_forum/1.1.1/zip/

[2019-01-29 08:39] DavidBruchmann opened #263 "Release Version 1.1.1"
Why Release Version 1.1.1 is not available here?
https://typo3.org/extensions/repository/download/typo3_forum/1.1.1/zip/

[2019-02-08 23:47] ineswillenbrock commented on #253
I just encountered the problem with the list myself and thought I reply even though I think it's too late for you:

Regarding the user list: you might get those to work if you set
`plugin.tx_typo3forum.persistence.storagePid `
to both the pid of the page/folder with the forum data and the pid where the fe_users are stored.
The record type of the fe_users should be typo3_forum user.

Regarding the

[2019-02-09 00:00] ineswillenbrock opened #264 "User edit: no link to the edit form"
My setup:

PHP 5.6.40
TYPO3 7.6.31
typo3_forum 1.1.1 with 1 changed line (https://github.com/mittwald/typo3_forum/blob/develop/Classes/Domain/Model/Forum/Topic.php#L293) (changed (int) to 1*)

I've got the forum up and running, I get user lists and can post/reply.

- I've set the user edit page via `plugin.tx_typo3forum.settings.pids.UserEdit` to the appropriate PID,
- Installed the plugin there a

[2019-02-11 09:54] pstranghoener commented on #263
Because its an Security Release.

[2019-02-11 09:54] #263 closed

[2019-02-11 09:55] pstranghoener commented on #264
Hey,

for register und and profile edit you have to use the Extension
https://docs.typo3.org/typo3cms/extensions/sf_register/

Best Regards Philipp

[2019-02-11 09:56] pstranghoener commented on #262
Yes, we will release a new version for v8 and v9 in the next couple of weeks.

Best Regards Philipp

[2019-02-11 11:29] vixe76 commented on #262
Thanks, great news!

Best Falk

[2019-02-11 12:17] #262 closed

[2019-02-11 12:39] DavidBruchmann commented on #263
BUFFER OVERFLOW

[2019-02-11 14:12] ineswillenbrock commented on #264
Hey,
I installed that one too, but I don't get the links to edit the profile. And that one seems to have some trouble with information like gender.
Am I right, that typo3.net is essentially typo3_forum with some additions? There the links are shown and it seems that it is the profile edit of typo3_forum.

Best wishes, Ines

[2019-02-11 15:11] pstranghoener commented on #264
You have to place the sf_register on a page anywhere and configure it.

And than you have to the set uid of the page to this setup  plugin.tx_typo3forum.settings.pids.UserEdit

After that the link will shown in the dashboard of the forum.

[2019-02-11 15:18] pstranghoener commented on #264
By the way the templates from typo3.net are very hard customized.

[2019-02-11 15:29] ineswillenbrock commented on #264
I suspected that one and I do like that template - but that link is a link :) and should be there
I set `plugin.tx_typo3forum.settings.pids.UserEdit = 61`, put sf_register in edit mode on that page (as well as typo3_forum with user profile) but don't get a link in my dashboard - as long as I don't edit my template :)
Where do I put those changes for the extension?

[2019-02-11 15:36] pstranghoener commented on #264
Just link the page where the Plugin is on and when the loggedin user visits the page the profil can be edit.

I my test installation both links are there, if have done it like the way i said.

If you want to change the templates of the extension do it in you own theme.

[2019-02-11 15:40] ineswillenbrock commented on #264
Me and my English - I thought about contributing that change to the default template.
In my own instance I copied the template and started changing things around to match my needs but forgot to check if the link to the edit page is even included.
I think, this bug can be closed?

[2019-02-11 15:42] pstranghoener commented on #264
Okay, i will close the issue. We are working on the default templates at the moment, to have a better base for that.

[2019-02-11 15:42] #264 closed

[2019-02-11 16:03] ineswillenbrock commented on #264
Thanks! I love the look&feel of the Bootstrap one

[2019-02-12 03:00] schams-net commented on #263
@pstranghoener could you please shed some light on the logic, why you do not release a **fixed** version in Git (due to security issues)?

This does not make much sense to me, given this version has been uploaded to the [TER](https://extensions.typo3.org) and a security advice ([TYPO3-EXT-SA-2019-002](https://typo3.org/security/advisory/typo3-ext-sa-2019-002/)) has been released by the TYPO3 Secur

[2019-02-28 09:34] mgrundkoetter commented on #261
@Locke80 can you please open a PR or post a formatted diff/patch instead of an email? Also, there is an email address in your post, you probably don't want to have this posted publicly here.

[2019-02-28 10:31] mgrundkoetter opened #268 "[FEATURE] slug functionality is missing for v9 routing"
There need to be some `slug` fields in the db tables, the corresponding TCA an an example of a route config yaml in the docs. I'm working on a PR.

[2019-02-28 14:35] mgrundkoetter commented on #268
Routing with default values (for widget:paginate) does not work right not, see https://forge.typo3.org/issues/87436 and https://forge.typo3.org/issues/86895

So my current config does not work for that reason as well.

[code]

Also, for this very routing, all the calls to `Topic::show`(by `f:link.action`) need to be adjusted in the templates. The parameter `forum: topic.forum` needs to be added.

[2019-03-05 13:23] mgrundkoetter opened #270 "TSFE deprecation breaks Ajax/eID"
As some if the important methods in `TypoScriptFrontendController ` are now [deprecated and made protected](https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.3/Deprecation-84965-VariousTypoScriptFrontendControllerMethods.html), all the eID/Ajax stuff is no longer working in the v9 branch. Errors are like
[code]
for actions like preview posts. The migration hin on typo3.org reads:

[2019-04-06 18:02] typo3ua opened #274 "For what this dependence "sr_feuser_register"?"
How to be, if I not use the `ext: sr_feuser_register`?
If I use another extension for registration users I can not use `ext: typo3 forum`...?

[2019-04-27 04:41] superscotty19 opened #275 "Replace "Your Name" with feuser username"
Hi,

New to the extension, impressed so far! Question with "New Topic" form. I'm wondering how to and/or if it's possible to have the "Your Name" field replaced with the name/username of the logged in feuser? It seems intuitive to me as I haven't seen other forums require your to enter your name if you're already logged in. Plus, from a UX perspective it would require less input from the user.

Th

[2019-04-27 06:08] superscotty19 commented on #275
WOW I'm dumb. It's all controlled by the (brilliant) ACLs: if everyone can write a topic, then they need to supply their name. If any login can create a topic, then their name is attached to the topic upon created. Sorry to waste everyone's time!

[2019-04-27 06:08] #275 closed

[2019-04-27 06:46] superscotty19 opened #276 "Attachments Don't Show on New Topic, Also no ACL for Attachments in v8"
Hi,

Loving the extension, trying every feature I can.

I've come across a bug in v1.2.0 on T3 8.7: when I create a topic and click "Browse" to add an attachment, the attachment's file name shows up after I click "Browse", but then it doesn't actually upload/save/display in the post  ... even though the code (specifically  Resources/Private/Partials/Bootstrap/Post/Single.html) clearly has a card-h

[2019-04-27 08:27] superscotty19 opened #277 "How to Register a New User and Pre-Populate the "Extended" tab Requirement?"
Hi,

As the documentation states, a user must have a record type of "typo3_forum user" the "Extended" tab of the feuser record. Obviously, when I create a user manually, that is easily done. However, when a new user signs up via sf_register or femanager, there is no setting to automatically apply the "typo3_forum user" property to their profile. That is, I need to manually edit every new user and

[2019-04-27 08:33] superscotty19 opened #278 "Let Me Help with Documentation!"
Hi,

Many users have requested documentation in the comments of  https://www.mittwald.de/blog/cms/typo3-cms/kompatibel-mit-typo3-6-2-und-7-x-aus-mm-forum-wird-typo3-forum

You've done a great job of making documentation at https://typo3-forum.readthedocs.io/en/master/Configuration/RegisterandLogin/Index.html

The above serves as a good primer on how to get started ... but with all the power typo3_

[2019-06-19 13:05] sgrossberndt opened #297 "Moving a topic to subforum leads to exception"
When moving a topic from a forum to a subforum of this forum an exception is thrown:

[code]

Looking at the topic in backend reveals a shadow topic has been created and assigned successfully but the original topic no longer is assigned to any forum.

Manually assigning the forum in backend does not help either as then another exception is thrown on every request to the frontend:
[code]

[2019-06-24 08:42] sgrossberndt commented on #250
https://github.com/mittwald/typo3_forum/pull/305 adds notifications for forum subscriptions

The `IfSubscribedViewHelper ` was fixed in https://github.com/mittwald/typo3_forum/commit/b5accfb69db1bdcf704a63135c7e5ace42cd6f47

Forums are always marked as "new" if they do not contain any topics.

[2019-07-05 13:16] gerathjen commented on #228
After editing the **[BUGFIX] Division by zero in Topic::getPageCount()** I get follow error
[code]
I use Typo3 8.7.19 and Mittwald Forum 1.1.0.

![TYPO3 Exception - Google Chrome_048](https://user-images.githubusercontent.com/5717825/60724784-9d255d00-9f37-11e9-8610-6f7c1d4993f3.jpg)

[2019-07-11 13:46] velletti opened #315 "Protected forum access is slow with many entries as indexes are missing"
### Solution:

Add this 2 indexes speeds up a lot all queries that checks if the user has access to forum / topic

[code]

for us (300.000 forums entries, TYPO3 LTS 8 , 20 different Usergroups, 8 languages) f.e. "latest Forums entries" it was more than 2 times faster

[2019-07-11 14:06] velletti commented on #315
If one uses the forum in different languages and has many forum sections and many Topics, the Forum OverView page has the same Problem:

very slow ..

## solution:

`CREATE TABLE tx_mmforum_domain_model_forum_forum (
  KEY lang (sys_language_uid),
  KEY forumlng (forum,sys_language_uid),
}`

[2019-07-12 07:19] sgrossberndt commented on #315
Hi! How did you setup your forum with multilanguage-support? I added a pull request removing the workspaces and to me seemingly incomplete multilanguage-setup: https://github.com/mittwald/typo3_forum/pull/285/commits/e4baad23d9ca23f16fc756bf89d3c87b9b726291

Do you have forums which are available in some languages only?

[2019-07-15 08:29] sgrossberndt commented on #252
Works for me with `v1.2.0` 2ac0b3c

[2019-07-19 07:56] #184 closed

[2019-07-19 07:57] #250 closed

[2019-07-19 10:33] sgrossberndt commented on #274
You can use any extension for registering users. You just have to make sure created `fe_users` (and according `fe_groups`) will have their `tx_extbase_type` set to `Mittwald\Typo3Forum\Domain\Model\User\FrontendUser`.

[2019-07-19 19:01] typo3ua commented on #274
it is great news, thanks

[2019-07-30 07:26] #274 closed

[2019-07-30 07:31] kpurrmann commented on #315
@velletti Feel free to add an PR with your changes.

[2019-07-30 07:45] velletti commented on #315
@kpurrmann  : Which branch should i checkout ? Master, develop , any other ?

[2019-07-30 07:58] velletti commented on #315
@sgrossberndt : i am using a Private fork of this forum that we started i think 4 Years ago. As during that time the development for typo3_forum  was not going on, we  did all this in our fork.

[2019-08-12 09:06] kpurrmann commented on #315
@velletti use master branch, thx

[2019-09-24 14:35] Oktopuce opened #333 "Problem table charset on Typo3 v9 : table not created"
In Typo3 V9, the default charset and collation for table and database are 'utf8mb4' and 'utf8mb4_unicode_ci', sample LocalConfiguration.php :

[code]
in typo3_forum extension, two tables have wrong charset :

[code]

they must be changed from **utf8** to **utf8mb4** otherwise the tables couldn't be created.

[2019-09-24 18:39] sgrossberndt commented on #333
Rather the `CHARACTER SET=utf8` definitions should be completely removed in order to simply apply the database defaults.

[2019-09-24 19:53] moran284 opened #334 ""topicCount" and "postCount" don't update after deleting topics"
Hello,

when I delete topics or posts the counts in the overview of my sub forums don't update. I deleted every topic and wanted to reset the counts.

Clearing alle types of cache didn't help.

Thanks a lot,
Julian

[2019-09-25 07:09] sgrossberndt commented on #334
The only current possibility to reset the counters is to execute the according cronjob `Count-Checker (typo3_forum)` in scheduler.

[2019-09-25 07:39] #333 closed

[2019-10-05 18:32] moran284 commented on #334
Hello,

thank your very much for your respond! I created a task in scheduler, but nothing happens:

<img width="1208" alt="Bildschirmfoto 2019-10-05 um 20 29 42" src="https://user-images.githubusercontent.com/55764819/66259239-e5f6e700-e7ae-11e9-85cc-9039c57fc90f.png">

This is my current setup. I have chosen the PID of the sub forum, but also with the PID of the main forum nothing happens.

Sorry

[2019-10-07 06:38] sgrossberndt commented on #334
Ah, the patch to update the counters of forums was added only recently by myself (before that task only updated the counters of users and topics), it is not integrated in a release yet: https://github.com/friendsofmittwald/typo3_forum/commit/b8534ceb5e07048837187d42c3d30df71335e78c
So if you want to use it you have to use `master` of this extension from github and cannot use a released v1.2.0. But

[2019-10-26 17:33] moran284 commented on #334
Thanks a lot!

[2019-10-26 17:33] #334 closed

[2019-10-26 17:41] moran284 opened #337 ""Sorry, the requested view was not found." and "Unexpected end of JSON input at Function.parse …""
Hi everyone,

I don't know if this is an issue or if I maybe have made some misconfiguration but at the view to create a topic I geht this error:

And when I click on "Create New Topic" this error displays:

I reinstalled also the whole extension but with no change.

Thanks for your help and sorry if this doesn't belong here.

Bests,
Julian

[2019-10-30 17:39] #337 closed

[2019-10-30 17:42] sgrossberndt commented on #337
Did you find the issue?

[2019-10-30 17:44] moran284 commented on #337
Hi,

I just worked with an outdated template.

[2019-12-06 14:43] Oktopuce opened #338 "Problem with SignalSlot when in BE with Typo3 V9"
Hi,

Where you're in BE, in LIST mode, there is a problem with this  signal slot :

`$signalSlotDispatcher->connect('TYPO3\CMS\Extbase\Persistence\Generic\Mapper\DataMapper', 'afterMappingSingleRow', 'Mittwald\Typo3Forum\Service\SettingsHydrator', 'hydrateSettings');`

Don't know exactly how to reproduce but know where the bug is when reading the code, this problem appears because you try to read

[2020-01-14 09:18] jooler opened #339 "chrome : Uncaught SyntaxError: Unexpected end of JSON input; firefox is ok"
`
﻿
special:1 Uncaught SyntaxError: Unexpected end of JSON input
    at Function.parse [as parseJSON] (<anonymous>)
    at Object.success (forum.js?1578992402:124)
    at c (jquery.min.js?1577893667:2)
    at Object.fireWith [as resolveWith] (jquery.min.js?1577893667:2)
    at l (jquery.min.js?1577893667:2)
    at XMLHttpRequest.<anonymous> (jquery.min.js?1577893667:2)`

![forum](https://user-imag

[2020-02-13 17:40] ineswillenbrock opened #344 "Possible Bug with markiItUp and Bootstrap Package"
My setup:

TYPO3 9.5.13
typo3_forum 1.2.0
bootstrap_package 11.0.2
Firefox 72

If I include both typo3_forum and typo3_forum Bootstrap Template with bootstrap_package, bootstrap_package Bootstrap 4(SCSS) static templates i get the following error:

jQuery.Deferred exception: $(...).markItUp is not a function @https://beta.[..]de/frageforum-2?tx_typo3forum_pi1%5Baction%5D=edit&tx_typo3forum_pi1%5Bc

[2020-02-19 18:29] ineswillenbrock opened #345 "[FEATURE] allow debugging via <f:debug>"
I've got a possible feature request or a bug:

TYPO3 9.5.13
typo_forum 1.2.0

Would it be possible to allow debugging and extending Templates via <f:debug>{_all}</f:debug>?
Everytime something with users is in that array, the following error occurs:

[code]

`plugin.tx_typo3forum.settings.debug = 1` is allready set

Thanks, Ines

[2020-02-21 10:14] sgrossberndt commented on #345
This will definitely not part of official templates. If you need to debug add that to templates yourself (best in overridden templates by path).

[2020-02-21 12:28] ineswillenbrock commented on #345
Sure, I did try adding  <f:debug>{_all}</f:debug> and got the mentioned error.
That is what I'm asking, if it will be possible to add  the debugging code and not get errors :)

No, the default template should really not use <f:debug>, that's ok.

[2020-02-21 13:10] ineswillenbrock commented on #344
It helps to deactivate the default jquery of Bootstrap Package like this:
`page.includeJSFooterlibs.jquery > #=  EXT:bootstrap_package/Resources/Public/Contrib/jquery/jquery.min.js`

[2020-02-21 19:56] ineswillenbrock opened #346 "Possible Bug with the BBCode RegExps"
TYPO3 9.5.13
typo3_forum 1.2 migrated from mm_forum via typo3_forum 1.1.1
PHP 7.2

There seem to be some trouble with the regular expressions - but my knowledge there is nearly zero.

I write something like this:
[code]
The part between the first `[b]` and the last `[/b]` is set in bold, and the `[b]` and `[/b]` between that are not replaced like shown in the screenshot.
The newline after the `[/u

[2020-03-31 10:29] schoeppe opened #347 "eID integration of ajax-dispatcher is broken"
Calls to the ajax dispatcher do not work - these calls always return an empty response.

The ajax dispatcher is called using the following url parameters (example):
`?eID=typo3_forum&tx_typo3forum_ajax%5Bformat%5D=json&tx_typo3forum_ajax%5Baction%5D=main&tx_typo3forum_ajax%5Bcontroller%5D=Ajax&cHash=d28fa8979e6468f9fb5e2e99bf2fed26`
This should trigger the TYPO3 eID mechanism which in turn calls t

[2020-04-14 13:33] ineswillenbrock commented on #346
If one modifies the regular expression like so ` /\[b\](.*)\[\/b\]/iU` -- adds an "U" to it -- it works fine.
Do you want/need a patch for that?

[2020-05-12 16:59] manuelLink opened #349 "error in Database analyzer"
the Database analyzer shows three Database fields as incorrect:

ALTER TABLE \`tx_typo3forum_domain_model_format_textparser\` CHANGE \`type\` \`type\` VARCHAR(64) DEFAULT 'Mittwald\\Typo3Forum\\Domain\\Model\\Format\\BBCode' NOT NULL

Current value: type VARCHAR(64) DEFAULT 'Mittwald\Typo3Forum\Domain\Model\Format\BBCode' NOT NULL COLLATE utf8_general_ci

ALTER TABLE \`tx_typo3forum_domain_model_m

[2020-05-18 14:21] z35Wegner opened #350 "Creating Topics without user session"
Greetings,

it is possible to create or answer a topic without a valid user session.
To Setup, you have to have a valid account:
Log into your forum, navigate to a topic of your choice or create a new one.
Copy the link to the new post/topic link.
Paste that link into another browser or send it to someone else.
You can now create a new post/topic without any author informations.

Our quick & dirty

[2020-05-18 18:39] derhansen commented on #350
Since this is a security issue, please remember to always send your findings to security@typo3.org  first, so the TYPO3 Security Team can handle the issue together with the extension author.

[2020-05-19 06:00] pstranghoener opened #351 "Extension is searching a new maintainer"
More Information can be found here:  [https://www.mittwald.de/blog/cms/typo3-cms/typo3-forum-extension-neuer-maintainer](url)

[2020-05-19 15:42] ineswillenbrock commented on #351
Hi,
I'm willing to help (again, after years of being silent)  - but not to be the maintainer as I think it's a bit to big for me.
regards - Ines

[2020-05-27 07:16] pstranghoener commented on #351
Hi Ines, thanks for your willing to help.
But we are really searching for someone or a company who is taking the role of the maintainer.

Best Regards Philipp

[2020-06-06 16:49] tobiasschaeferptb commented on #276
Hello Scott,

I had the same problem and solved it by creating inside the folder uploads a new folder tx_typo3forum and within this folder another folder attachments.
I looked into the code and found the scripts:
/Configuration/TCA/tx_typo3forum_domain_model_forum_attachment.php lines 69-81:
		'real_filename' => [
			'exclude' => 1,
			'label' => $lllPath . 'real_filename',
			'config' => [
				't

[2020-07-07 10:15] derhansen commented on #350
https://typo3.org/security/advisory/typo3-ext-sa-2020-010

[2020-07-13 13:09] Avalarion commented on #351
This issue is solved: https://www.mittwald.de/blog/cms/typo3-cms/maintainer-fuer-typo3-forum-pottkinder

[2020-07-13 13:09] #351 closed

[2020-07-23 14:34] tobiasschaeferptb opened #352 "Mixup between Mail_Subscribe_NewPost_Subject and Mail_Subscribe_NewTopic_Subject"
Hello,

in file Resources/Private/Language/locallang.xml there is a mixup between Mail_Subscribe_NewPost_Subject and Mail_Subscribe_NewTopic_Subject and between Mail_Subscribe_NewPost_Body and Mail_Subscribe_NewTopic_Body in the default section (line 319 and 320). This leads to wrong subjects and bodytext in emails when a post was created and to empty emails when a topic was created.
In the German

[2020-07-24 05:26] #352 closed

[2020-08-28 08:27] nicodh commented on #347
This Issue is a show stopper for current TYPO3 9.5!
There is a working fix here: https://github.com/queoGmbH/typo3_forum/commit/97140411bfec40479846226a431c8e0009a4ff69
but no related PR.
A real solution would be to replace the eId script with a Middleware https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/ApiOverview/RequestHandling/Index.html

[2020-10-02 14:09] ddennyd opened #355 "Pagination is not working"
Dear all,

the pagination is not working in my Typo 3 Version 9.5.20, it only redirects me to my default page.
Do i need to make a special configuration in order to make the pagination working?
Thanks a lot.

Dennis

[2020-10-28 13:28] #248 closed

[2020-10-28 13:51] Avalarion commented on #244
Hey @MacGyer is your question still valid? It is now nearly 3 years old and I am closing this. If it is still valid please write me a message here and I am going to repoen this issue.

[2020-10-28 13:51] #244 closed

[2020-10-28 13:51] Avalarion commented on #245
@sgrossberndt can you create a pull request for this?

[2020-10-28 13:52] Avalarion commented on #247
Hey @mrwhy-orig I guess that your ticket after nearly 3 years is not valid anymore so I am closing it. If you still have this problem and need help please write me here and I am going to reopen the issue.

[2020-10-28 13:52] #247 closed

[2020-10-28 13:54] Avalarion commented on #251
Hey @AlexSanFa,

bitte versuch hier beim Englischen zu bleiben.

Ich vermute, dass nach 2,5 Jahren dein Problem nicht mehr Akut ist, daher werde ich das Ticket schließen, wenn du hier noch Hilfe brauchst, schreib einfach einen Kommentar und ich öffne das Ticket erneut.

Hab einen schönen Tag,

Bastian

===

Hey @AlexSanFa,

please stay in english =).

I guess that after 2,5 years your issue is not

[2020-10-28 13:54] #251 closed

[2020-10-28 13:55] sgrossberndt commented on #245
https://github.com/AgenturPottkinder/typo3_forum/pull/341

[2020-10-28 13:55] Avalarion commented on #252
Tested this as well and after more than 2 years I am going to close this issue. If you @mrwhy-orig still have this issue please reopen it.

[2020-10-28 13:55] #252 closed

[2020-10-28 13:58] #245 closed

[2020-11-05 16:10] developerroom opened #356 "Bug in Counter Task"
The "post_count" field is not set correctly if it is the last Topc.

In Mittwald \ Typo3Forum \ Scheduler \ Counter
From line 152

My implementation

[code]

[2020-12-16 13:02] Rinxiao commented on #346
I can confirm that this is still an issue in

TYPO3 10.4.10
typo3_forum 1.0-dev
PHP 7.3

The regular expression fix works, though. It would be nice if this would be included in the standard setup, so you don't have to fix it manually afterwards.

[2020-12-21 21:10] Avalarion commented on #188
I am closing this issue. This is done with the 10x Release within the next few days.

[2020-12-21 21:10] #188 closed

[2020-12-21 21:11] Avalarion commented on #93
Closing this issue. Please create a new one if this is still valid.

[2020-12-21 21:11] #93 closed

[2020-12-21 21:12] Avalarion commented on #76
This is done with the 10x release. Also migrated to Crowdin.

[2020-12-21 21:12] #76 closed

[2020-12-21 21:14] Avalarion commented on #35
We are not going to do this.

[2020-12-21 21:14] #35 closed

[2020-12-21 21:16] Avalarion commented on #50
Closing this issue now. We are not ging to include a own search to the forum. If you need this please create a pull request with SOLR or KeSearch configuration. If there is time this could be done for a next release if no one wants to do this and will be done in a new issue.

[2020-12-21 21:16] #50 closed

[2020-12-21 21:19] Avalarion commented on #259
This is fixed in the template of 10x.

[2020-12-21 21:19] #259 closed

[2020-12-21 21:28] #356 closed

[2020-12-21 21:33] Avalarion commented on #350
Fixed with VErsion 1.2.1

[2020-12-21 21:33] #350 closed

[2020-12-21 21:37] Avalarion commented on #254
Resolved so closing this issue: https://github.com/AgenturPottkinder/typo3_forum/blob/master/Classes/Domain/Model/Forum/Forum.php#L469

[2020-12-21 21:37] #254 closed

[2020-12-22 10:05] Avalarion commented on #345
Works in 10x Branch so should be fixed =).

[2020-12-22 10:05] #345 closed

[2020-12-22 12:28] Avalarion commented on #315
Closed in the 10x Branch.

[2020-12-22 12:28] #315 closed

[2020-12-23 06:06] Avalarion commented on #349
This seams to be fixed and is not showing up on a fresh 10x Version ( just tested ).

[2020-12-23 06:06] #349 closed

[2021-03-14 20:03] heikojentzsch opened #361 "Notification-Issue in NotificationService"
there is from my personal perpective a security issue in the Class NotificationService inside the Method "notifyForumSubscribers(...)"

the method iterates over the forum structure setting parent forum as current forum. doing this the readAccess is always checked against the current forum which is in this moment the parent forum. in line 139 i think there has to be a check against the current foru

[2021-09-15 10:47] netfeld opened #363 "SQL Error"
Is this extension still alive? I get an error on a brand new T3 9.5.30 /  PHP 7.3 when try to insert a new "Forum" Object.

`SQL error: 'Incorrect integer value: '' for column 'forum' at row 1' (tx_typo3forum_domain_model_forum_forum:NEW6141cceeda9fa764805378)`

What about Typo3 10? Are there any plans?

[2021-09-15 11:13] netfeld commented on #363
Itś due to sql strict mode. Integer Column should define a default value.

[2021-09-15 14:39] Avalarion commented on #363
Hey Hauke,

yes there are plans and already a 80% working Version where we changed a lot of stuff. It is currently in our internal Gitlab.

If you have time to help feel free to write a mail to support@agentur-pottkinder.de =).

Have a nice day,

Bastian

[2021-09-21 07:54] werbit opened #364 "Attachments in branch v10"
There is no way to upload attachments in Forum for TYPO3 10.x. The relevant parts in templates are commented out.
When can we expect to get this important function working again?

[2021-11-09 14:10] liveman1 opened #365 "Support for typo3 v10 & v11?"
Hi,

It would be awesome to have support for typo3 v10 & 11.
Is this planned?

Thanks

[2021-11-09 17:29] Avalarion commented on #365
Good evening,

this is planned for the near future. A already running version exists in our gitlab but contains a small amount of errors so we need to fix them first.

Have a nice day,

Bastian

[2021-11-12 11:11] liveman1 commented on #365
Hi, thanks! :)
Do you have any timelines in mind? It would help me for a private project.
Could I support to accelerate it a little bit?
Is there any other low scale forum extension. This is the only one I found.

Thanks & best regards
Steffen

[2021-11-14 10:54] Avalarion commented on #365
Hey Steffen,

I will report back in 1-2 weeks. Currently is end of the year stress, but we scheduled TYPO3 Forum work in the next 2 weeks.

Have a nice day,

Bastian

[2021-11-30 16:32] buurman-en-buurman commented on #365
And Bastian. I am in the same situation as Steffen. For private purpose. I like to stay with typo3. Regards. Rene

[2021-12-05 11:56] Avalarion commented on #365
Hey Rene,

TYPO3 10 is working in our internal gitlab right now. It is not yet cleaned up and tested, we hope to get this done till begin of January. Are you available for testing and debugging?

Have a nice day,

Bastian

[2022-01-24 08:08] stephangrass commented on #365
Hi,
when can we expect a TYPO10 compatible version?

Thanks
Stephan

[2022-01-24 11:49] Avalarion commented on #365
Hey Stephan,

we need tests and bug reports and do this in our gitlab ( because of our pipelines ) internally right now.

We have no date scheduled.

Greetings,

Bastian

[2022-01-24 12:07] stephangrass commented on #365
Hi Bastian,
if you would make the 10 version available to me, I could possibly help with testing.

[2022-01-24 19:35] buurman-en-buurman commented on #365
same to me (but i even dont now how to download the -your-  internal gitlab, i had download some code from this site, but i wont install on me typo3 website). How can i help? (and how i download, and install the right code)

[2022-01-24 23:10] ineswillenbrock commented on #365
Hi buurman-en-buurman,

if you download the code from here: extract it, change into the typo3-forum-master directory inside and execute the build-release.sh.
./build-release.sh 1.2.99 will pack you a typo3_forum in version 1.2.99 (for the extensionmanager, not real version...) into typo3_forum_1.2.99.zip. That one is installable via EM.

Hope that helps a bit?

@stephangrass would be the same with

[2022-01-26 00:06] buurman-en-buurman commented on #365
Extension typo3_forum is not available. Is says. Drupal is much easier is this sense.

[2022-01-26 06:15] Avalarion commented on #365
Hey @buurman-en-buurman ,

I don't know if you are able to read german but please read this blog post: https://www.in2code.de/aktuelles/open-source-ist-kaputt-lasst-es-uns-reparieren/

It is very rude to write "Drupal is much easier in this sense" if people, including @ineswillenbrock are spending their sparetime in OpenSource so you can get a CMS and a connected forum totally for free and even he

[2022-01-26 12:46] buurman-en-buurman commented on #365
Bastian

Du hast absolut Recht
Entschuldigung. Ich bin ein Open-Source-Fan und meine Seite ist ein
privates Projekt
Ich versuche, eine Art sozialwissenschaftliche Forschung zu betreiben, und
dafür brauche ich auch ein Forum.
Vor 8 Jahren drupal erfolgreich und dann sagten man schon, dass typo3
besser sei
Die Website wird ausgeführt https://bricolage-online.nl/ and
https://bricolage-online.nl/autog

[2022-01-30 20:34] Avalarion commented on #365
Hey Rene,

if you send me a mail to support@agentur-pottkinder.de I am able to invite you =).

Greetings,

Bastian

[2022-01-31 05:53] Avalarion commented on #365
Hey @stephangrass @buurman-en-buurman ,

I have invited you to our gitlab. In the v10 branch is what you are looking for.

Enjoy your day,

Bastian

[2022-02-22 15:48] Oktopuce commented on #365
I'm trying to use V10 version of typo3_forum but it seems that it is still not working as  I encountered many errors.
Are there a version that I can use for v10, I can also help you migrate it.

[2022-03-23 16:31] Gitsko commented on #355
Hi @ddennyd,

the <f:widget.link> Viewhelper in the  partial `ViewHelpers/Widget/Paginate/Index.html` needs the argument `useCacheHash="1" addQueryStringMethod="GET"`,

Example: ` <f:widget.link useCacheHash="1" addQueryStringMethod="GET" arguments="{currentPage: page.number}" class="page-link">{page.number}</f:widget.link>`

This solved the problem for me.

[2022-04-13 13:24] crediaHasselberg commented on #365
Guten Tag,

gibt es hierzu ein Update bzw. kann man einschätzen, wann eine Version für TYPO3 10 / 11 verfügbar ist?

Lieben Gruß
Daniel Hasselberg

[2022-04-18 16:45] Avalarion commented on #365
Hey Daniel,

we still have this internal as we are finding bugs and resolving them. If you send a mail to support@agentur-pottkinder.de I could you invite to test the current state and help us with updating.

Have a nice day,

Bastian

[2022-08-02 10:10] guillermoig-icti commented on #365
Hello  @Avalarion,

My name is Guillermo, and I currently work in a small agency that has been working with TYPO3 for many years.
Right now, we are working on a project, with TYPO3 `10.4`, for a customer that demands the use of a forum.
So far, the only feasible extension we have found is `typo3_forum`, but since there is no version available for TYPO3 `10`, and we can't hear anything about it sin

[2022-08-17 18:24] Avalarion commented on #365
Hey ho,

I have exchanged with Guillermo via Mail. We schedule a release for 10 and 11 before christmas. If anyone wants to participate in the cleanup feel welcome =).

Have a nice day,

Bastian

[2022-08-17 18:42] ineswillenbrock commented on #365
I'd be on board.

My offer: 1 Template for Bootstrap 4 and 5 could be delivered until the end of October.
After checking bootstrap_package it's just one set of template files for BS4 and BS5 - and as there won't be much if any CSS necessary, that should be it.

Missing: information on which viewhelper and functionality will be still there.

Best regards,
Ines

[2022-09-19 12:38] BenjaminBeck commented on #365
Hi @Avalarion
Is it correct, that https://github.com/AgenturPottkinder/typo3_forum/tree/v10 contains the most recent code?
Or do i need access to that gitlab repo?

[2022-09-20 20:10] Avalarion commented on #365
Hey @BenjaminBeck you are in contact with one of our team already and will receive access to our internal gitlab. Release is still planned for this year!

[2022-10-27 22:34] fsnd-tech commented on #365
Hi everyone,
our customer wants to move to PHP 8.x by the end of the year. We have typo3_forum installed, but will really need a version that works with TYPO3 11.5 as that is the only TYPO3 version that will run on PHP 8
Is there any more information on when the extension will be available for TYPO3 11.5?
Regards
Friedrich

[2022-11-13 13:29] Avalarion commented on #365
Hey @fsnd-tech ,

we have a running version for 10 available with a few adjustments it will be available for 11 by the end of the year and hopefully before a stable v12 available for 12 as well. We have a sprint for that from 15.12 till the 06.01 so in our "holiday" phase. Hopefully we are going to totally enable PHP 8 and 8.1 that time.

Have a nice day,

Bastian